<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Vendor Styles -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href="{{ url_for('static', filename='css/bokeh.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-orig-2.2.2.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap/bootstrap-2.0.4.js') }}"></script>
    {% if splitjs %}
    <script src="{{ url_for('bokeh.server.bokehjs_file', filename='js/vendor/requirejs/require.js') }}"></script>
    <script src="{{ url_for('bokeh.server.bokehjs_file', filename='js/config.js') }}"></script>
    <script>
      require.config({ baseUrl: "/bokehjs/static/js" });
      require(["main"], function(Bokeh) {
          {% block script %}
          {% endblock %}
      });
    </script>
    {% else %}
    <script src="{{ url_for('bokeh.server.bokehjs_file', filename='js/bokeh.js') }}"> </script>
    <script type="text/javascript">
      {{ self.script() }}
    </script>
    {% endif %}
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand"> {{ title }} </a>
          <ul class="nav pull-right">
              <li>
                <a href="{{ url_for('bokeh.server.logout') }}">logout </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  </body>
</html>
