{% extends "_base.html" %}

{% block head %}
  <link href="{{ url_for('bokeh.server.bokehjs_file', filename='css/bokeh.css') }}" rel="stylesheet">
  {% block extra_scripts %}
  {% endblock %}
  {% if splitjs %}
  <script src="{{ url_for('bokeh.server.bokehjs_file', filename='js/vendor/requirejs/require.js') }}"></script>
  <script src="{{ url_for('bokeh.server.bokehjs_file', filename='js/config.js') }}"></script>
  <script type="text/javascript">
    require.config({ baseUrl: "{{ url_for('bokeh.server.bokehjs_file', filename='js') }}" });
    require(["main"], function(Bokeh) {
      {% block script %}
      {% endblock %}
    });
  </script>
  {% else %}
  <script src="{{ url_for('bokeh.server.bokehjs_file', filename='js/bokeh.js') }}"></script>
  <script type="text/javascript">
    {{ self.script() }}
  </script>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="container">
    {% if not hide_navbar %}
      {% from "_navbar.html" import navbar %}
      {% call navbar(title) %}
        <li><a href="{{ url_for('bokeh.server.logout') }}">logout</a></li>
      {% endcall %}
    {% endif %}
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
