<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Vendor Styles -->
    <script src="{{url_for('static', filename='js/vendor/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/bootstrap/bootstrap-2.0.4.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href="{{ url_for('static', filename='css/bokeh.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-orig-2.2.2.css') }}" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand"> {{ title }} </a>
          <ul class="nav pull-right">
              <li>
                <a href="{{ url_for('bokeh.server.register_get') }}">register </a>
              </li>
              <li>
                <a href="{{ url_for('bokeh.server.login_get') }}">login </a>
              </li>
              <li>
                <a href="{{ url_for('bokeh.server.logout') }}">logout </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="messages">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    {% block main %}
    {% endblock %}
  </div>
  </body>
</html>
