<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {% block title %}Welcome to the bokeh server{% endblock %}</title>
	<!-- Vendor Styles -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/bokeh.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/continuum.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">    
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-orig-2.0.4.min.css') }}" rel="stylesheet">    
    <link href="{{ url_for('static', filename='vendor/bokehjs/vendor/jquery/css/themes/base/jquery-ui.min.css') }}" rel="stylesheet">
  </head>
  <body>
    {% block main %}{% endblock %}
    {% block links %}
    Here are some good places to get started with Bokeh
    <ul>
      <li><a href="/bokeh/">Document viewer</a></li>

    {% endblock %}
  </body>
</html>
