<link href="{{ url_for('static', filename='css/bokeh.css', _external=True) }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bokehjs/css/bokeh.css', _external=True) }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bokehjs/css/continuum.css', _external=True) }}" rel="stylesheet">

<script type=text/javascript src="{{ url_for('static', filename='vendor/jquery.1.7.2.min.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/underscore/underscore.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/backbone/backbone.js', _external=True) }}"></script>

<!-- Continuum Styles -->

<script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/js/jquery.mousewheel.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/buckets/buckets.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/d3/d3.v2.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/base.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/view_base.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/model_base.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/ui_view.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/ui_model.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/bokeh_views.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/ticks.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/tools.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/bokeh_model.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/bokehjs/js/custom.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/serverviews.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/servermodels.js', _external=True) }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/serverutils.js', _external=True) }}"></script>

