<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bokeh Plot Server</title>
	<!-- Vendor Styles -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/bokeh.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/css/continuum.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bokehjs/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">    
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-2.2.2.css') }}" rel="stylesheet">    
    <link href="{{ url_for('static', filename='vendor/bokehjs/vendor/jquery/css/themes/base/jquery-ui.min.css') }}" rel="stylesheet">
    {% for jsfile in jsfiles %}
    <script type="text/javascript" src="{{jsfile}}"></script>
    {% endfor %}
    {% for jsfile in hemfiles %}
    <script type="text/javascript" src="{{jsfile}}"></script>
    {% endfor %}
    <script>
      rrequire("serverrun");
    </script>
  </head>
  <body>
    <div id="PlotPane">Plots</div>
  </body>
</html>
