<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
</head>
<body>
  <p>content</p>

        <script src="http://localhost:5006/bokeh/embed.js" bokeh_plottype="serverconn" bokeh_docid="668a024f-cf2f-47ac-bb7e-be3a976d3912" bokeh_ws_conn_string="ws://localhost:5006/bokeh/sub" bokeh_docapikey="913e0d09-072f-48f0-bfb1-fd88d50326b3" bokeh_root_url="http://localhost:5006" bokeh_modelid="b0a63c5f-2af4-40f6-ba0b-b73fde68d950" bokeh_modeltype="Plot" async="true"></script>
</body>
</html>
