language: generic
sudo: false
dist: trusty

# This does not show secret variables, but only disables a filter for accidental spillage. The filter
# is causing problems with log trunction and TravisCI support advised to turn it off for now. See the
# issue https://github.com/bokeh/bokeh/issues/6568 for more information.
filter_secrets: false

env:
  global:
    - BOTO_CONFIG="/tmp/nowhere"
    - secure: nLrUq2h59KN3k3hnid+Ub4RHDcVkZyrVmuMLoM6NbwKA0bwpDltaoSg5cj2dzdXKBwvv+3VP38oXLhEGLhVi7kDmyX3ICcza6Usy8zgK3s1NBgl6hFjqaJ7RjCu9OP1I42ThMTLfCQMRrYul7s74sGdZa+HfMCZcl+3Co5IzraI=
    - secure: oI7Up9HuHSBw8k9LBNC6pLEUJONj+5NeEGFpSLSVXvqPPmyXJZ4qRE/dZ/HxZp6xyBze5GLYmdXXAdhrZyNjmU1ZA0rbBLDWLXuAW8eJm5xAXZ0NRFlHMXMkwvbG9hPTOTFtxKNS4lG/Fo5AXwE4MgT5uzQS4I7HuuNkcZOoInY=
    - secure: Nyfo1sKNXJPEbR0QF+S/Sbr1OnDl6kRfjKAXVupD83QeLJ2e6gj7R1TpucngUhDluqp2iJ/1DZDXnA9AP+xl8kordIXjEv2FYdijxKAUk3G5BVPm9n6GudsIKYNUpDOiZupZrcKoJtfpIiWOOOgn4uftI7X/ATazudUKeMNjOvQ=
    - secure: nqoKfXZTHhJ0ieffqS+5mi5crivUeFeIgohqUaeTCnaOGI5XFMLR8rZPjhMHyFx5vNTp08pbg3Mg4i7iaQn+3dqu25HBwnfhar3TFXfOCQQLJBZstoWSGEDkJKDPwwqZrdFzw+EDxlA0tlLXvV8X0DlArYKhRcAOJF01cCJ7L1c=
    - secure: ii7ssdfEDYtc4Ph24mVzyq7JVTkjrn/h36HZn1oZak+HuiYtVbcCjqomKj2n1kPuKJWajOwHGu7d7ymCvK4tQ37keiMRvku/Yz4HELT5IUU1hD+w7mKomc2taKKvddGnbR4I4oZe+SBfwfeQCq5/Ha+koadSQI05Aco/nLNZP3M=
    - secure: MAaYB6RV2a9tZ61Olatv52Yi4EqEh+wMkX6y20Ja1yyY3I+2sFT1NZ8ZwPFCKkDdMeSna7z4ROKk3CDMK0JkbUJrqnZgo6Fy7w6GZPcZlzUPrgH04Or0v94upMh2i0lh8wcz88VuR0i+GxnqUsP18W5AJfO/FXmU4VgDAOJfKrQ=

branches:
  only:
  - master
  - "/^\\d+.\\d+.\\d+dev\\d+$/"
  - "/^\\d+.\\d+.\\d+rc\\d+$/"
  - "/^\\d+.\\d+.\\d+$/"

notifications:
  flowdock:
    secure: ZisceYtV2b7LWNUz0wEtiR9TRk+i8x5m/N6+Htn4IFr+bBcBi79ESO0u6DWiJA5rHt+Yq7Yf49vl7UO9HZCF+8n5B1nKpfivJKngVuMYLnhYifNmwCD7vQ8aaF9DTfOqvm2hJrHwtieX8BUGs2KWd8igt3f8LCXVWVBBvkqc2L0=

before_install:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - export PATH="$HOME/build/bokeh/bokeh/bokehjs/node_modules/phantomjs-prebuilt/lib/phantom/bin:$PATH"
  - export PATH="$HOME/bin:$PATH"
  - export TRAVIS_COMMIT_MSG="$(git log --format=%B --no-merges -n 1)"

jobs:
  include:
    - stage: build
      install: scripts/ci/install:build
      script: scripts/ci/build

    - stage: test

      install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=examples
      - PYTHON=2.7

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=examples
      - PYTHON=3.4
      - EXTRA_CMD=--no-js

    - install: scripts/ci/install:test
      script: scripts/ci/test
      addons:
        sauce_connect: true
      env:
      - GROUP=integration

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=js

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=2.7

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.4

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.5

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.6

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=docs

    - install: scripts/ci/install:test
      script: scripts/ci/test
      env:
      - GROUP=quality

    - install: scripts/ci/install:deploy
      stage: deploy
      script: scripts/ci/deploy
