language: generic
sudo: false
dist: trusty
addons:
  apt:
    packages:
      - chromium-chromedriver

before_script:
  - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver

# This does not show secret variables, but only disables a filter for accidental spillage. The filter
# is causing problems with log trunction and TravisCI support advised to turn it off for now. See the
# issue https://github.com/bokeh/bokeh/issues/6568 for more information.
filter_secrets: false

env:
  global:
    - BOTO_CONFIG="/tmp/nowhere"

    # AWS_ACCESS_KEY_ID
    - secure: K4cYsYCIh4TDNmtRjk7x9oqe8Zwy6xRpJjqOvjRCnpkze10E7TN/nyQm4/6Fts5frqxtzxCM83HNNUmXnCTJqH2+A5VojSmLtHug9oaW5XODxvZvm2Tiz8afbOwESp7tdq0ZEJgV12SVevh+o/jgC0ZG5A6PIqNW2SbN7cTEZHc=

    # AWS_SECRET_ACCESS_KEY
    - secure: VsmEbjZuR7CN7zrLadmmLqrnBLJ5g6txka8H4jUdf2AB7UvzoNYLePQZYADN/zv8fy+q1jGXQNIq8DYr9sdetgNWethOzSpFiBC5AdyBnbO2RjIosY8ZaxcOnj3xYGgv+dF8/g7/QVYJdJCV5hhyAOH0BsczrtmlRDPjXH2S4oA=

    # GOOGLE_API_KEY
    - secure: MAaYB6RV2a9tZ61Olatv52Yi4EqEh+wMkX6y20Ja1yyY3I+2sFT1NZ8ZwPFCKkDdMeSna7z4ROKk3CDMK0JkbUJrqnZgo6Fy7w6GZPcZlzUPrgH04Or0v94upMh2i0lh8wcz88VuR0i+GxnqUsP18W5AJfO/FXmU4VgDAOJfKrQ=

    # RSUSER
    - secure: pham9rB+qKZJYVBgXzg7I0rYbAo+A3dFbh4+L3rAuJtSQ7BJfYHwD3GIBFT/RAXIkjbEIPxFYygq+em7A9UdLQpcCgFcmrCWeVxCChCJ3lZBReb47i/vUuKgJT5d19vqpgGtQAxgd1gSBl4k6SwkpxWIpqtimVWq1F1JqU3U+6s=

    # RSAPIKEY
    - secure: Lv0s3lMsex6jASQ2/9StOV3MQVtkisIcf/Qk/or9wJqpuGWoMQUCaXkhC+8onYeOaFtznvf60nV4zEUYIWXYWEtUUmI4BjmlLvb+lhOVErqdJ+ihMH1yASHm1v7+9MjNnMGRxtAg0cTtJFbmXWHtYDMylNZ1E7X+ORpXyqer3n4=

    # ANACONDA_TOKEN (expires 10/19)
    - secure: Nshpds3OtTE+RtCes7PNRofBmuCsgblDRYgoqweiI9EEaHypwyATU55XrNxAf1ew5R6gixbod8QohCZ7yzysaCPO0+b2zJmj7gkP+r4RXcsqM5MJr8GnXSAFWQCTgZy4imL/pB7/7FprAmnnJhGxj2CxDnLvc3kPf4Nsu4Ihwt8=

branches:
  only:
  - master
  - "/^\\d+.\\d+.\\d+dev\\d+$/"
  - "/^\\d+.\\d+.\\d+rc\\d+$/"
  - "/^\\d+.\\d+.\\d+$/"

notifications:
  slack:
    secure: UYjR/NEuFdHEXwYxaDR3DxQ6dFrHG4vziqp1Fs+EAoI21bo4r/0/ywTU6+jedlUCiahiFrUqDcX1tdM4s5Y/tnatAwZtEaHdVYTNtislN+f/EuutlE/TUeo8VliK4P47rxDGfdLBxCLes6X80q8QEaOFeIyCauoouQ/keRbrLNs=

before_install:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - export PATH="$HOME/miniconda/envs/testenv/bin:$PATH"
  - export PATH="$HOME/build/bokeh/bokeh/bokehjs/node_modules/phantomjs-prebuilt/lib/phantom/bin:$PATH"
  - export PATH="$HOME/bin:$PATH"
  - export TRAVIS_COMMIT_MSG="$(git log --format=%B --no-merges -n 1)"

jobs:
  include:
    - stage: build
      install: scripts/ci/install.build
      script: scripts/ci/build

    - stage: test

      install: scripts/ci/install.test
      script: scripts/ci/test
      addons:
        chrome: stable
      before_script:
        - google-chrome-stable --no-sandbox --headless --hide-scrollbars --remote-debugging-port=9222 &
      env:
      - GROUP=examples
      - PYTHON=3.7

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=examples
      - PYTHON=2.7
      - EXTRA_CMD=--no-js

    - install: scripts/ci/install.test
      script: scripts/ci/test
      addons:
        chrome: stable
      before_script:
        - google-chrome-stable --no-sandbox --headless --hide-scrollbars --remote-debugging-port=9222 &
      env:
      - GROUP=js

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=integration
      - PYTHON=3.6

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.7

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.6

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.5
      - TORNADO=4
      - MINIMAL=1

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=2.7

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=docs

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=codebase

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=downstream

    - install: scripts/ci/install.deploy
      stage: deploy
      script: scripts/ci/deploy
