language: generic
sudo: false
dist: trusty
addons:
  apt:
    packages:
      - chromium-chromedriver

before_script:
  - ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver

# This does not show secret variables, but only disables a filter for accidental spillage. The filter
# is causing problems with log trunction and TravisCI support advised to turn it off for now. See the
# issue https://github.com/bokeh/bokeh/issues/6568 for more information.
filter_secrets: false

env:
  global:
    - BOTO_CONFIG="/tmp/nowhere"

    # GOOGLE_API_KEY
    - secure: MAaYB6RV2a9tZ61Olatv52Yi4EqEh+wMkX6y20Ja1yyY3I+2sFT1NZ8ZwPFCKkDdMeSna7z4ROKk3CDMK0JkbUJrqnZgo6Fy7w6GZPcZlzUPrgH04Or0v94upMh2i0lh8wcz88VuR0i+GxnqUsP18W5AJfO/FXmU4VgDAOJfKrQ=

branches:
  only:
  - master
  - "/^\\d+.\\d+.\\d+dev\\d+$/"
  - "/^\\d+.\\d+.\\d+rc\\d+$/"
  - "/^\\d+.\\d+.\\d+$/"
  - landing-2.0

before_install:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - export PATH="$HOME/miniconda/envs/testenv/bin:$PATH"
  - export PATH="$HOME/build/bokeh/bokeh/bokehjs/node_modules/phantomjs-prebuilt/lib/phantom/bin:$PATH"
  - export PATH="$HOME/bin:$PATH"
  - export TRAVIS_COMMIT_MSG="$(git log --format=%B --no-merges -n 1)"

jobs:
  include:
    - stage: build
      install: scripts/ci/install.build
      script: scripts/ci/build

    - stage: test

      install: scripts/ci/install.test
      script: scripts/ci/test
      addons:
        chrome: stable
      before_script:
        - google-chrome-stable --no-sandbox --headless --hide-scrollbars --remote-debugging-port=9222 &
      env:
      - GROUP=examples
      - PYTHON=3.7
      - EXTRA_CMD=--upload

    - install: scripts/ci/install.test
      script: scripts/ci/test
      addons:
        chrome: stable
      before_script:
        - google-chrome-stable --no-sandbox --headless --hide-scrollbars --remote-debugging-port=9222 &
      env:
      - GROUP=js

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=integration
      - PYTHON=3.6

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.7

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.6

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=unit
      - PYTHON=3.6
      - TORNADO=5
      - NUMPY=1.11.3
      - MINIMAL=1

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=docs

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=codebase

    - install: scripts/ci/install.test
      script: scripts/ci/test
      env:
      - GROUP=downstream

    - install: scripts/ci/install.deploy
      stage: deploy
      script: scripts/ci/deploy
