language: python

python:
    - 2.7

before_install:
    - export PATH="$HOME/miniconda/bin:$PATH"
    - export MINICONDA_VERSION="3.3.0"
    - export PHANTOMJS_VERSION="1.9.7"

install: scripts/travis_install

script: scripts/travis_test
