sudo: false

language: python

python:
    - 2.7
    - 3.3
    - 3.4

env:
    global:
        - MINICONDA_VERSION="latest"
        - BOKEH_DEFAULT_TIMEOUT=30
        - secure: "nLrUq2h59KN3k3hnid+Ub4RHDcVkZyrVmuMLoM6NbwKA0bwpDltaoSg5cj2dzdXKBwvv+3VP38oXLhEGLhVi7kDmyX3ICcza6Usy8zgK3s1NBgl6hFjqaJ7RjCu9OP1I42ThMTLfCQMRrYul7s74sGdZa+HfMCZcl+3Co5IzraI="
        - secure: "oI7Up9HuHSBw8k9LBNC6pLEUJONj+5NeEGFpSLSVXvqPPmyXJZ4qRE/dZ/HxZp6xyBze5GLYmdXXAdhrZyNjmU1ZA0rbBLDWLXuAW8eJm5xAXZ0NRFlHMXMkwvbG9hPTOTFtxKNS4lG/Fo5AXwE4MgT5uzQS4I7HuuNkcZOoInY="
        - secure: "AMKPTVrc2g8j5T40hQhdEGoiod+KCkbiseVSQRDPeeX1TvQoVjbrZenrWHyHEHKc1x3LavDuCBJ3sW9cLy+QF9sdudK/cc9+aG2Hax5dyapI0iaHlzvqYDO3aguQsZcu+pVEIVatoOSv25/282aPNtNXn403jmJvd0Qt8ch1jOw="
        - secure: "v9VkMz6cjFBZhlf6iiXSr0o2Eo/HKMMOseAxE6H+sr1vbPg19edGU+7+aAQrn09lE4oKU5JwZSzQ2KalJgrNTGrRrGyEtWGAcuS6oP17zg9LsutLGptNwyHBnCvB5aUPW7JSNs+kor7CmvZ8sVnUh810YSREjt2ZsjEG3ysZjVc="
        - secure: "OI9ErePcqSewA8ZheZq5YtNyeLA8UM1UGskcMEAmPMf9AisYasJaPoY8NeqLGDyMcg7TcXbFQBZv7jPEngZ3RZMsDajfC3p63WOBDS7PfurKTVWTXZ28Z6vzwa3riFIca3D0eVP6bt8KZrYMo7HvWQG3vzmTSxRjx4e2wHxciKo="

matrix:
    include:
        - python: 2.7
          env: BOKEH_DEFAULT_DIFF=FETCH_HEAD
    exclude:
        - python: 2.7

branches:
  only:
    - master
    - /^\d.\d.\ddev-.+$/
    - /^\d.\d.\drc-.+$/
    - /^\d.\d.\d$/

before_install:
    - export PATH="$HOME/miniconda/bin:$PATH"
    - echo $TRAVIS_BUILD_ID > __travis_build_id__.txt

install:
    - scripts/travis_install

script:
    # Deactivate tests on building to avoid huge packages contaning the pics and outout html
    # Eventually, we need to get rid of the generated stuff before packaging
    - if [[ -z "$TRAVIS_TAG" ]]; then nosetests --with-coverage --cover-package=bokeh; fi
    - ( cd sphinx; make all )
    # Flake/style testing (only needed on one machine)
    - if [[ $TRAVIS_PYTHON_VERSION == '3.4' ]]; then flake8 bokeh; fi

after_success:
    |
    if [[ ! -z "$TRAVIS_TAG" && "$TRAVIS_PYTHON_VERSION" == '2.7'  ]]; then
        #install some additional dependencies
        conda install binstar fabric --yes
        #decrypt some files and place them in the correct location
        openssl aes-256-cbc -K $encrypted_c19429b59af5_key -iv $encrypted_c19429b59af5_iv -in secrets.tar.enc -out secrets.tar -d
        tar xvf secrets.tar
        cp known_hosts ~/.ssh/known_hosts
        cp .npmrc ~/.npmrc
        cp .pypirc ~/.pypirc
        chmod 600 bokeh_key
        eval `ssh-agent -s`
        ssh-add bokeh_key
        #signal the correct build
        if [[ "$TRAVIS_TAG" == *"dev"* ]] || [[ "$TRAVIS_TAG" == *"rc"* ]]; then
          echo "Building a dev or rc package."
        else
          echo "Building a release package."
          #we signal the release with an empty __travis_build_id__.txt file
          echo "" > __travis_build_id__.txt
        fi
        bash scripts/build_upload.sh -b $BINSTAR_TOKEN -u $RSUSER -k $RSAPIKEY
    else
        echo "Not building because there is no tag."
    fi

notifications:
    flowdock:
        secure: "ZisceYtV2b7LWNUz0wEtiR9TRk+i8x5m/N6+Htn4IFr+bBcBi79ESO0u6DWiJA5rHt+Yq7Yf49vl7UO9HZCF+8n5B1nKpfivJKngVuMYLnhYifNmwCD7vQ8aaF9DTfOqvm2hJrHwtieX8BUGs2KWd8igt3f8LCXVWVBBvkqc2L0="
