:root {
    /* Logo image height + all the paddings/margins make the navbar height. */
    --navbar-height: calc(30px + .3125rem * 2 + 0.5rem * 2);
}

html {
  width: 100%;
}

.navbar-brand {
    /* Overriding Bootstrap's value since we have only image there and we want
    to keep it valigned and prevent its parent from growing.*/
    font-size: 1rem;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-light {
    background: #fff !important;
    box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.11);
}

.navbar-nav li a {
    padding: 0 15px;
    /* line-height: 50px; */
}

.navbar-nav > .active > .nav-link {
  font-weight: 400;
  color: #130654 !important;
}

.navbar-header a {
    padding: 0 15px;
    /* line-height: 50px; */
}

.bd-search {
    position: relative;
    padding: 1rem 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.search-front-page {
    margin: 0 auto;
    width: 50%;
}

/* minimal copy paste from bootstrap docs css to get sidebars working */

.bd-toc {
    -ms-flex-order: 2;
    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* font-size: 0.875rem; */
    /* add scrolling sidebar */
    height: calc(100vh - 2rem);
    overflow-y: auto;
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .bd-toc {
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
      height: calc(100vh - 4rem);
      overflow-y: auto;
    }
  }

  .section-nav {
    padding-left: 0;
    border-left: 1px solid #eee;
    border-bottom: none;
  }

  .section-nav ul {
    padding-left: 1rem;
  }

  .toc-entry {
    display: block;
  }

  .toc-entry a {
    display: block;
    padding: .125rem 1.5rem;
    color: #77757a;
  }

  .toc-entry a:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }

  .bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  table {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .bd-sidebar {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .bd-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: var(--navbar-height);
        z-index: 1000;
        height: calc(100vh - var(--navbar-height));
      }
    }
  }

  @media (min-width: 1200px) {
    .bd-sidebar {
      -ms-flex: 0 1 320px;
      flex: 0 1 320px;
    }
  }

  .bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;
  }

  @media (min-width: 768px) {
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .bd-links {
        max-height: calc(100vh - 9rem);
        overflow-y: auto;
      }
    }
  }

  @media (min-width: 768px) {
    .bd-links {
      display: block !important;
    }
  }

  .bd-sidenav {
    display: none;
  }

  .bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
  }

  .bd-toc-link:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
  }

  .bd-toc-item.active {
    margin-bottom: 1rem;
  }

  .bd-toc-item.active:not(:first-child) {
    margin-top: 1rem;
  }

  .bd-toc-item.active > .bd-toc-link {
    color: rgba(0, 0, 0, 0.85);
  }

  .bd-toc-item.active > .bd-toc-link:hover {
    background-color: transparent;
  }

  .bd-toc-item.active > .bd-sidenav {
    display: block;
  }

  .bd-sidebar .nav > li > a {
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.65);
  }

  .bd-sidebar .nav > li > a:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    background-color: transparent;
  }

  .bd-sidebar .nav > .active > a,
  .bd-sidebar .nav > .active:hover > a {
    font-weight: 400;
    color: #130654;
    /* adjusted from original
    color: rgba(0, 0, 0, 0.85);
    background-color: transparent; */
  }

  .bd-sidebar .nav > li > ul {
    list-style: none;
    padding: .25rem 1.5rem;
  }

  .bd-sidebar .nav > li > ul > li > a {
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.65);
  }

  .bd-sidebar .nav > li > ul > .active > a,
  .bd-sidebar .nav > li > ul > .active:hover > a {
    font-weight: 400;
    color: #542437;
  }

dt:target {
    background-color: initial;
}

/* Offsetting anchored elements within the main content to adjust for fixed header
   https://github.com/pandas-dev/pandas-sphinx-theme/issues/6 */
main *:target::before {
    display: block;
    content: "";
    height: var(--navbar-height);
    margin-top: calc(-1 * var(--navbar-height));
}

body {
    /* Add padding to body to avoid overlap with navbar. */
    padding-top: var(--navbar-height);
    width:100%;
}


/* adjust toc font sizes to improve overview */
.toc-h2 {
    font-size: 0.85rem;
  }

.toc-h3 {
    font-size: 0.75rem;
}

.toc-h4 {
    font-size: 0.65rem;
}

.toc-entry > .nav-link.active {
    font-weight: 400;
    color: #542437;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}

.nav-link:hover {
    border-style: none;
}


/* Collapsing of the TOC sidebar while scrolling */

/* Nav: hide second level (shown on .active) */
.bd-toc .nav .nav {
  display: none;
}

.bd-toc .nav > .active > ul {
  display: block;
}

ul.gallery li {
    list-style-type: none;
    float:left
}

img.gallery {
    width: 200px;
    height:200px
}

body { font-family: "Lato", sans-serif; }

.btn { font-family: "Lato", sans-serif; }

.btn-primary { filter: brightness(90%); background-color: #C02942; border-color: #C02942; }
.btn-primary:hover { filter: brightness(100%); background-color: #C02942; border-color: #C02942; }

a { color: #D95B43; }

h1 { font-family: "Work Sans", sans-serif; }
h2 { font-family: "Work Sans", sans-serif; }
h3 { font-family: "Work Sans", sans-serif; }
h4 { font-family: "Work Sans", sans-serif; }

.link { color: #D95B43; }

.links { background-color: #542437; color: #fff; font-family: "Lato", sans-serif; }
.links h6 { font-family: "Work Sans", sans-serif; font-weight: 700; font-size: 14px; }
.links ul.nav li a { padding: 3px 0; font-family: "Lato", sans-serif; font-size: 13px; color: #fff; }

.links-item { margin-top: 30px; }

.footer-copy { background-color: #242729; color: #eee; font-family: "Lato", sans-serif; font-size: 12px; padding: 10px 0; }
.footer-copy p { padding: 0; margin: 0; }

.expander .expander-trigger {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #D95B43;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    padding-bottom: .25em;
    text-decoration: none
}

.expander .expander-trigger:before {
    font-size: .7em;
    content: "\25BC";
    margin-right: 0.5em
}

.expander .expander-hidden:before {
    font-size: .7em;
    content: "\25BA"
}

.expander .expander-hidden+.expander-content {
    display: none
}

* {
    font-variant-ligatures: none;
}

.contents.local p {
  margin-bottom: 0rem;
}


.version-alert a {
  text-decoration: underline;
  color: #ddd;
}

#banner .version-alert {
  background-color: #D95B43;
  padding: 1em;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600; font-size: 16px;
}

.version-alert a {
  text-decoration: underline;
  color: #ddd;
}

#banner .news-alert {
  background-color: #ECD078;
  padding: 1em;
  font-family: "Work Sans", sans-serif;
  font-weight: 600; font-size: 16px;
}

.news-alert a {
  text-decoration: underline;
  color: #444;
}

div.bk-root {
  padding-bottom: 1.5em;
}

code {
  color: #D95B43;
}

a.headerlink {
  color: #53777A;
}

a.headerlink:hover {
    background-color: #53777A;
    color: white;
    opacity:0.5;
}

a.nav-external:after {
    font-family: 'FontAwesome';
    font-size:0.6rem;
    vertical-align: middle;
    content: " \f08e";
}

span.highlighted {
  background-color: #ECD078;
}
