<!doctype html>
<html>
  <head>
      <meta charset='UTF-8' />
      <meta http-equiv='content-type' content='text/html; charset=utf-8' />

      <title>BokehJS Spectrogram Demo</title>

      <script src='static/jquery/jquery.js'></script>
      <script src='static/jqueryui.js'></script>
      <link href="static/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" type="text/css" />
  </head>

      <script src='static/bokeh.js'></script>

      <style>
      .all_can_wrapper {position:relative; }
      .can_wrapper { position:absolute; }
      .main_ can_wrapper {border:1px dotted green;}
      .main_can {border:1px solid blue}
      .y_can {}
    </style>

  </head>
  <body>
      <h2>Live audio spectrogram</h2>
      <script src='static/spectrogram.js'></script>
  </body>
</html>
