<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>BokehJS Spectrogram Demo</title>
   
    <link type="text/css" rel="stylesheet" href="/static/vendor/jquery/css/themes/base/jquery-ui.min.css"/>
<!--
 <script type="text/javascript" src="/static/js/application.js"></script>
    <script type="text/javascript"
    src="/static/vendor/jquery/js/jquery-ui.min.js"></script>
-->
  <!-- These are 3rd party libs that we depend on.  In debug mode, this
  should be a list of JS files.  In prod mode, this should be a single
  minified/unified JS file. -->
  {% for jsfile in jslibs %}
  <script type="text/javascript" src="{{jsfile}}"></script>
  {% endfor %}

  <!-- These are our JS files which are managed by Hem, and built as
  needed from the coffee sources. -->
  {% for jsfile in hemfiles %}
  <script type="text/javascript" src="{{jsfile}}"></script>
  {% endfor %}


    <script>
      require("spectrogram");
    </script>

    <style>
      .all_can_wrapper {position:relative; }
      .can_wrapper { position:absolute; }
      .main_ can_wrapper {border:1px dotted green;}
      .main_can {border:1px solid blue}
      .y_can {}
    </style>

  </head>

  <body>
    <h2>  Live audio spectrogram </h2>
  </body>

</html>
