<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>BokehJS Spectrogram Demo</title>
    <script type="text/javascript" src="/static/js/application.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/vendor/jquery/css/themes/base/jquery-ui.min.css"/>
    <script type="text/javascript" src="/static/vendor/jquery/js/jquery-ui.min.js"></script>
    <script>
      require("spectrogram");
    </script>

    <style>
      .all_can_wrapper {position:relative; }
      .can_wrapper { position:absolute; }
      .main_ can_wrapper {border:1px dotted green;}
      .main_can {border:1px solid blue}
      .y_can {}
    </style>

  </head>

  <body>
  </body>

</html>
