MANIFEST
build
dist
node_modules
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
IPython/frontend/html/notebook/static/mathjax
*.py[co]
build
*.egg-info
*~
*.bak
*#*
*.#*
*ipynb
*.DS_Store
*.swp
.idea
npm-debug.log
libs
dev
build
