img.gallery {height:200px; width:200px}

ul.gallery {list-style-type:none}
ul.gallery li {height:250px; width:220px; display:block; float:left; text-align:center}
a.logo {float:left; margin:9px 5px 0 0}

.col-md-12 {padding-right:80px; /* this makes sure text stays clear of the fork me ribbon*/
}

/*
 *  Display Class documentation
 */

code > .pre {
    color: #2A2A2A;
}

.class,
.section {
    clear: both;
}

/* I'd like to do something like this but
 * it affects too much of the rest of the docs */
/*
.section > h2 > a > code > .pre {
    color: #EB2366;
    background-color: white;
    font-weight: bold;
    font-size: 1.3em;
}
.section > h2 > a,
.section > h2 > a:hover {
    color: #EB2366;
}
*/
.class > dt > .headerlink {
    padding-left: 10px;
    color: #85398C;
}

.class {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px #2A2A2A solid;
}

.class > dt {
    font-size: 1.3em;
    text-align: right;
    float: right;
    color: #F5634A;
}

dt:target, .highlighted {
    background-color: #EEEEDD;
}

.class > dd {
    padding-top: 10px;
    clear: both;
}

.attribute > dt > tt:before {
    content: ' attr ';
    font-style: italic;
    color: #B1CE2D;
    font-size: 0.8em;
}

.method > dt > tt:before {
    content: ' method ';
    font-style: italic;
    color: #1EA354;
    font-size: 0.8em;
}

.classmethod > dt > .property {
    font-style: italic;
    color: #20A7AA;
    font-size: 0.8em;
}

.classmethod > dd > .table,
.method > dd > .table,
.attribute > dd > .table {
    margin-left: 40px;
    margin-bottom: 0;
}

/* Give things some breathing room */
.class ~ .panel-group {
    float: left;
}

.xref .pre {
    font-weight: normal;
}

.highlight-python {
    margin-bottom: 20px;
}

/* Handle the call out boxes */
.admonition.alert {
    color: #2A2A2A;
    background-color: white;
    border-color: white;
    border: 1px white solid;
    background-image: none;
    box-shadow: none;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.admonition.note {
    border-left: 2px #35A9DE solid;
}

.admonition.warning {
    border-color: #F89E2E;
    border-left: 2px #F89E2E solid;
    border-bottom: 2px #F89E2E solid;
}

.simple {
    display: inline-block;
}

.simple ~ p {
    clear: both;
}

.image-reference {
    float: right;
}
