svg {
  font: 12px sans-serif;
  margin: 0;
}

.ui-dialog-titlebar {
  height : 16px 
}

.button_bar{
    width : 200px;
    overflow : hidden;
}
.button_bar > button{
    float : left;
}

.all_can_wrapper {position:relative; }
.can_wrapper {position:absolute; }
.main_ can_wrapper {}
.main_can {}
.x_can_wrapper { }
.y_can_wrapper {}
.y_can {}
.shading {display:block; border:1px dashed green; position: absolute; z-index:100;}
.gridplot_container {position: relative;}
.gridplot_container .gp_plotwrapper { position:absolute; } 
button.active { border:1px solid blue }
.table_wrap {  }
.table_wrap table { margin:5px;  height:300px; display:block; overflow-y:scroll }
/*
  .table_outer thead { fon t-size:15px; display:block; heig ht: 100px; overflow:auto; outline:1px  solid green}

  .table_outer tbody { font -size:10px; display:table; height: 200px; overflow-y:scroll; outline:1px  solid blue}
  .table_outer table td { border-left:1px solid black; border-right:1px solid black; }
*/


.plot_wrap .button_bar {height:30px}
.plot_wrap .button_bar * {display:none}
.plot_wrap:hover  .button_bar *  {display:inherit}

.maximize {
    display : none;
    float : right;
}

.jsp:hover > .maximize{
    display : inline;
    float : right;
    vertical-align : top;
}

.plotclose {
    display : none;
    float : right;
}

.jsp:hover > .plotclose{
    display : inline;
    float : right;
    vertical-align : top;
}

.plottitle{
  height: 1em;
  border : none;
  resize : none;
  width : 200;
  overflow : hidden;
}

.plotsidebar{
    overflow-x : auto;
    width : 350;
    float : left;
}

.maxplot{
    float : left;
}

/* pandas */

.bokehtable{ 
    overflow : auto;
}
.pandassize{
    width : 40px;
}
.pandasoffset{
    width : 40px;
}

.hide{
    display : none; 
}
.pandasicons {
    position:relative;
    top:5px;
}
.bokehdocheading{
    background-color : #ccc;
}
.bokehdoclabel{

}
.bokehdocheading:hover > .bokehdelete{
    display : none; 
    float : right;
}
.bokehdelete{
    float : right;
}
.pandasgroup{
    width : auto;
}
.pandasagg{
    width : auto;
}