svg {
  font: 12px sans-serif;
  margin: 0;
}

.ui-dialog-titlebar {
  height : 16px
}

.button_bar{
  overflow : hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button_bar > button{
}

.plotview{
    clear: both;
}

.bokeh_canvas_wrapper {
  position: relative;
  font-size: 12pt;
}

.bokeh_canvas {
  position: absolute;
  font-size: 12pt;
}

.bokeh_canvas_wrapper .bokeh_gmap {
  position: absolute !important;
  z-index: -5;
}

.plotview{
    clear : both;
}

.bokeh_canvas_wrapper {
  position: relative;
  font-size: 12pt;
  float left;
}

.bokeh_canvas {
  position: absolute;
  font-size: 12pt;

}

.bokeh_gmap {
  border: 0px;
  position: absolute;
  z-index: -5;
}

.shading {display:block; border:1px dashed green; position: absolute; z-index:100;}
.gridplot_container {position: relative;}
.gridplot_container .gp_plotwrapper {position:absolute;}
button.active {border:1px solid blue}
.table_wrap {  }
.table_wrap table { margin:5px;  height:300px; display:block; overflow-y:scroll }

.plot_wrap .button_bar { height: 30px }
.plot_wrap .button_bar * { display: none }
.plot_wrap:hover  .button_bar * { display: inherit }

.maximize {
    display : none;
    float : right;
}

.plotclose {
    float : right;
}

.plotsidebar{
    overflow-x : auto;
    width : 350px;
    float : left;
}

.maxplot{
    float : left;
}

/* pandas */

.bokehtable{
    overflow : auto;
}
.pandassize,
.pandasoffset{
    width : 30px !important;
    height : 20px !important;
    padding : 1px !important;
}
.hide{
    display : none;
}
.pandasicons {
    position:relative;
    top:5px;
}
.bokehdocheading{
    background-color : #ccc;
}
.bokehdoclabel{

}
.bokehdocheading:hover > .bokehdelete{
    display : none;
    float : right;
}
.bokehdelete{
    float : right;
}
.pandasgroup{
    width : auto;
    height : 20px !important;
    padding : 1px !important;
}
.pandasagg{
    width : auto;
    height : 20px !important;
    padding : 1px !important;
}
.tablecontrolstate{
    width : auto;
    height : 20px !important;
    padding : 1px !important;
}
.paginatedisplay{
    overflow : hidden;
}
.pagination{
    margin : 0px !important;
}

.tablecontrolform{
    margin : 0px;
}

.computedtxtbox,
.computedname,
.search{
    height : 20px !important;
    padding : 1px !important;
}


.plottitle{
    padding-left: 50px;
    padding-bottom: 10px;
}

.dataslider{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width : 20px;
}

.maxlabel,
.minlabel{
    margin-top: 10px;
    margin-bottom: 10px;
}
