global-exclude .git*
recursive-include bokeh_server/static *.js *.ico *.css *.eot *.svg *.ttf *.wof
recursive-include bokeh_server/templates *.js *.html
recursive-include bokeh_server/tests/sampledata
include bokeh_server/redis.conf


