<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bokeh Gapminder Example</title>
    {{ bokeh_css }}
    {{ bokeh_js }}
  </head>
  <body>
    {{ plot_div|indent(8) }}
    {{ plot_script|indent(8) }}
    <br />
    <br />
    <p>
      <iframe
          width="800" height="315"
          src="https://www.youtube.com/embed/hVimVzgtD6w?t=3m57s">
      </iframe>
    </p>
    <p>
      You can skip ahead to 3m 58s to see him talking through the plot we've just made. Or sit back and enjoy a great example of statistics communication.
    </p>
  </body>
</html>

