/*
 *  Display Class documentation
 */

code > .pre {
    color: #2A6496;
}

.class, .section {
    clear: both;
}

.class > dt > .headerlink {
    padding-left: 10px;
    color: #85398C;
}

.class {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px #2A2A2A solid;
}

.class > dt {
    font-size: 1.3em;
    text-align: right;
    float: right;
    color: #F5634A;
}

dt:target, .highlighted {
    background-color: #EEEEDD;
}

.class > dd {
    padding-top: 10px;
    clear: both;
}

.attribute > dt > code:before {
    content: ' attr ';
    font-style: italic;
    color: #B1CE2D;
    font-size: 0.8em;
}

.method > dt > code:before {
    content: ' method ';
    font-style: italic;
    color: #1EA354;
    font-size: 0.8em;
}

.classmethod > dt > .property {
    font-style: italic;
    color: #20A7AA;
    font-size: 0.8em;
}

.classmethod > dd > .table,
.method > dd > .table,
.attribute > dd > .table {
    margin-left: 40px;
    margin-bottom: 0;
}

/* Give things some breathing room */
.class ~ .panel-group {
    float: left;
}

.xref .pre {
    font-weight: normal;
}


