<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Continuum Analytics</title>
	<!-- Vendor Styles -->
    {{ script_block }}
    {{ css_block }}
    <script type="text/javascript">
      $(function(){
      var all_models = {{ all_models }};
      
      var modelid = "{{ modelid }}";
      
      var modeltype = "{{ modeltype }}";
      
      var elementid = "{{ elementid }}";
      
      Continuum.load_models(all_models);
      model = Continuum.resolve_ref(
      Continuum.Collections, modeltype, modelid
      );
      view = new model.default_view(
      {model : model}
      )
      view.render()
      $('#{{ elementid }}').append(view.$el)      
      });
    </script>
  <body>
    <div id="{{ elementid }}">Plots</div>    
  </body>
</html>
