<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bokeh Plots</title>
    
    {% if rawcss %}
    <style>
      {{ rawcss }}
    </style>
    {% endif %}
    
    {% if rawjs %}
    <script type="text/javascript">
      {{ rawjs }}
    </script>
    {% endif %}
    
    <script type="text/javascript">
      $(function(){
      var all_models = {{ all_models }};
      
      var modelid = "{{ modelid }}";
      
      var modeltype = "{{ modeltype }}";
      
      var elementid = "{{ elementid }}";
      load_models = require("common/load_models")
      load_models(all_models);
      model = base.Collections(modeltype).get(modelid);
      view = new model.default_view(
      {model : model}
      )
      $('#{{ elementid }}').append(view.$el)      
      });
    </script>
  <body>
    <div id="{{ elementid }}">Plots</div>    
  </body>
</html>
