@font-face {
  font-family: Bokeh;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Bokeh;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Bokeh;
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: BokehMono;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/RobotoMono-Regular.ttf") format("truetype");
}
