#colors() {
  background: @white;
  text: @black;

  primary: @blue-500;
  accent: @mauve-500;
  success: @green-500;
  warning: @orange-500;
  error: @red-500;

  hover: @gray-50;
  surface: @gray-100;
  divider: @gray-200;
  border: @gray-300;
  placeholder: @gray-400;
  disabled: @gray-500;

  icon: @gray-500;
  icon-disabled: @gray-200;

  highlight: @blue-400;
  active-background: @blue-200;
  input-border: @blue-400;

  // Only private palette colors after this line.

  // https://github.com/bokeh/bokeh/issues/14482

  @red-50: #FDF8F8;
  @red-100: #F9E7E7;
  @red-200: #F2CFD0;
  @red-300: #E9ACAF;
  @red-400: #DF8086;
  @red-500: #D14250;
  @red-600: #B91A31;
  @red-700: #8C1426;
  @red-800: #5E0E1A;
  @red-900: #350912;

  @orange-50: #FEF8F4;
  @orange-100: #FBE8D8;
  @orange-200: #F5D1AF;
  @orange-300: #EDAF72;
  @orange-400: #DF8613;
  @orange-500: #B56000;
  @orange-600: #8E4E00;
  @orange-700: #693C00;
  @orange-800: #452800;
  @orange-900: #281600;

  @green-50: #F7FAF6;
  @green-100: #E3EEDF;
  @green-200: #C7DEBF;
  @green-300: #9FC691;
  @green-400: #6FAA5B;
  @green-500: #348717;
  @green-600: #266C0D;
  @green-700: #1D520A;
  @green-800: #133607;
  @green-500: #0B1E04;

  @blue-50: #F6FAFC;
  @blue-100: #E1EDF5;
  @blue-200: #C3DBEB;
  @blue-300: #98C1DD;
  @blue-400: #65A2CB;
  @blue-500: #267BB6;
  @blue-600: #1A6395;
  @blue-700: #134A70;
  @blue-800: #0D314A;
  @blue-900: #071B29;

  @mauve-50: #FCF8FC;
  @mauve-100: #F5E7F3;
  @mauve-200: #EBCFE7;
  @mauve-300: #DEACD6;
  @mauve-400: #CD82C2;
  @mauve-500: #B74CA7;
  @mauve-600: #943C87;
  @mauve-700: #6F2D65;
  @mauve-800: #491E43;
  @mauve-900: #291125;

  @gray-50: #F9F9F9;
  @gray-100: #EBEBEB;
  @gray-200: #D7D7D8;
  @gray-300: #BBBBBD;
  @gray-400: #9A9B9D;
  @gray-500: #747679;
  @gray-600: #5D5E62;
  @gray-700: #45474B;
  @gray-800: #2C2E33;
  @gray-900: #18191D;

  @white: #fff;
  @black: @gray-900;
}
