.no-user-select() {
  user-select: none;
  -webkit-user-select: none;
}

.placeholder(@color) {
  &::placeholder,
  &:-ms-input-placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder  {
    color: @color;
    opacity: 1;
  }
}

.mask-image(@image) {
  mask-image: @image;
  -webkit-mask-image: @image;
}

.mask-size(@size) {
  mask-size: @size;
  -webkit-mask-size: @size;
}

.mask-position(@position) {
  mask-position: @position;
  -webkit-mask-position: @position;
}

.mask-repeat(@repeat) {
  mask-repeat: @repeat;
  -webkit-mask-repeat: @repeat;
}

.icon-mask(@icon, @color: var(--icon-color)) {
  .mask-image(@icon);
  .icon-mask-base(@color);
}

.icon-mask-base(@color: var(--icon-color)) {
  .mask-size(contain);
  .mask-position(center center);
  .mask-repeat(no-repeat);
  background-color: @color;
}

.bk-disabled(@disabled-opacity, @disabled-background-color, @disabled-color, @icon-color-disabled) {
  &[disabled], &.bk-disabled {
    background-color: @disabled-background-color;
    color: @disabled-color;
    cursor: not-allowed;
    pointer-events: none;
    opacity: @disabled-opacity;

    .bk-icon {
      color: @icon-color-disabled;
    }
  }
}
