@import "./_mixins.less";

:host {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px; // 0.8em
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: @line-height;
  margin: 0;
  border: 0;
  padding: 0;
  background-image: none;
}
