.bk-root {
  @import "continuum.less";
  @import "main.less";
  @import "icons.less";
  @import "bokeh-layout.less";

  // Properties of bk-root itself
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  position: relative;
  width: 100%;
  height: 100%;
}
