@import "./_mixins.less";

:host {

  --file: var(--default-color);
  --file-border: var(--default-border-color);
  --file-hover: var(--default-hover-color);
  --file-hover-border: var(--default-hover-color);
  --file-active: var(--default-active-color);
  --file-active-border: var(--default-active-color);
  --file-disabled: var(--default-disabled-color);
  --file-disabled-border: var(--default-disabled-border-color);
  --file-outline: var(--default-outline-color);

  --default: var(--default-color);
  --default-border: var(--default-border-color);
  --default-hover: var(--default-hover-color);
  --default-hover-border: var(--default-hover-color);
  --default-active: var(--default-active-color);
  --default-active-border: var(--default-active-color);
  --default-disabled: var(--default-disabled-color);
  --default-disabled-border: var(--default-disabled-border-color);
  --default-outline: var(--default-outline-color);

  --primary: var(--primary-color);
  --primary-border: var(--primary-color);
  --primary-hover: var(--primary-hover-color);
  --primary-hover-border: var(--primary-hover-color);
  --primary-active: var(--primary-color);
  --primary-active-border: var(--primary-color);
  --primary-disabled: var(--primary-disabled-color);
  --primary-disabled-border: var(--primary-disabled-color);

  --success: var(--success-color);
  --success-border: var(--success-color);
  --success-hover: var(--success-hover-color);
  --success-hover-border: var(--success-hover-color);
  --success-active: var(--success-color);
  --success-active-border: var(--success-color);
  --success-disabled: var(--success-disabled-color);
  --success-disabled-border: var(--success-disabled-color);

  --warning: var(--warning-color);
  --warning-border: var(--warning-color);
  --warning-hover: var(--warning-hover-color);
  --warning-hover-border: var(--warning-hover-color);
  --warning-active: var(--warning-color);
  --warning-active-border: var(--warning-color);
  --warning-disabled: var(--warning-disabled-color);
  --warning-disabled-border: var(--warning-disabled-color);

  --danger: var(--danger-color);
  --danger-border: var(--danger-color);
  --danger-hover: var(--danger-hover-color);
  --danger-hover-border: var(--danger-hover-color);
  --danger-active: var(--danger-color);
  --danger-active-border: var(--danger-color);
  --danger-disabled: var(--danger-disabled-color);
  --danger-disabled-border: var(--danger-disabled-color);

  --light: var(--default-color);
  --light-border: var(--default-color);
  --light-hover: var(--default-hover-color);
  --light-hover-border: var(--default-hover-color);
  --light-active: var(--default-active-color);
  --light-active-border: var(--default-active-color);
  --light-disabled: var(--default-disabled-color);
  --light-disabled-border: var(--default-disabled-color);
  --light-outline: var(--default-outline-color);
}

.bk-btn, ::file-selector-button {
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;

  padding: var(--padding-vertical) var(--padding-horizontal);
  font-size: var(--font-size);
  border: var(--border-width) var(--border-style) transparent;
  border-radius: var(--border-radius);

  outline: 0;
  outline-offset: -5px;

  .no-user-select();

  &:hover, &:focus {
    text-decoration: none;
  }

  &:active, .bk-active& {
    background-image: none;
    box-shadow: var(--box-shadow-inset);
  }
}

.bk-btn {
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none;
  }
}

.button-variant(
  @color;
  @background;
  @border;
  @hover-background;
  @hover-border;
  @active-background;
  @active-border;
  @disabled-background;
  @disabled-border;
  @outline-color;
) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover {
    background-color: @hover-background;
    border-color: @hover-border;
    text-decoration: underline;
  }

  .bk-active& {
    background-color: @active-background;
    border-color: @active-border;
  }

  &[disabled] {
    &, &:hover, &:focus, &:active, .bk-active& {
      background-color: @disabled-background;
      border-color: @disabled-border;
    }
  }

  &:focus {
    background-color: @hover-background;
    border-color: @hover-border;
    outline: 2px solid @outline-color;
    outline-offset: 2px;
  }

  &:active {
    background-color: @active-background;
    border-color: @active-border;
  }
}

::file-selector-button {
  .button-variant(
    var(--color);
    var(--file);
    var(--file-border);
    var(--file-hover);
    var(--file-hover-border);
    var(--file-active);
    var(--file-active-border);
    var(--file-disabled);
    var(--file-disabled-border);
    var(--file-outline);
  );
}

.bk-btn-default {
  .button-variant(
    var(--color);
    var(--default);
    var(--default-border);
    var(--default-hover);
    var(--default-hover-border);
    var(--default-active);
    var(--default-active-border);
    var(--default-disabled);
    var(--default-disabled-border);
    var(--default-outline);
  );
}

.bk-btn-primary {
  .button-variant(
    var(--inverted-color);
    var(--primary);
    var(--primary-border);
    var(--primary-hover);
    var(--primary-hover-border);
    var(--primary-active);
    var(--primary-active-border);
    var(--primary-disabled);
    var(--primary-disabled-border);
    var(--primary-hover-border);
  );
}

.bk-btn-success {
  .button-variant(
    var(--inverted-color);
    var(--success);
    var(--success-border);
    var(--success-hover);
    var(--success-hover-border);
    var(--success-active);
    var(--success-active-border);
    var(--success-disabled);
    var(--success-disabled-border);
    var(--success-hover-border);
  );
}

.bk-btn-warning {
  .button-variant(
    var(--inverted-color);
    var(--warning);
    var(--warning-border);
    var(--warning-hover);
    var(--warning-hover-border);
    var(--warning-active);
    var(--warning-active-border);
    var(--warning-disabled);
    var(--warning-disabled-border);
    var(--warning-hover-border);
  );
}

.bk-btn-danger {
  .button-variant(
    var(--inverted-color);
    var(--danger);
    var(--danger-border);
    var(--danger-hover);
    var(--danger-hover-border);
    var(--danger-active);
    var(--danger-active-border);
    var(--danger-disabled);
    var(--danger-disabled-border);
    var(--danger-hover-border);
  );
}

.bk-btn-light {
  .button-variant(
    var(--color);
    var(--light);
    var(--light-border);
    var(--light-hover);
    var(--light-hover-border);
    var(--light-active);
    var(--light-active-border);
    var(--light-disabled);
    var(--light-disabled-border);
    var(--light-outline);
  );
  border-color: transparent;
}

.bk-btn-group {
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &:not(.bk-vertical), &.bk-horizontal { // XXX: propagate the definition
    flex-direction: row;
  }

  &.bk-vertical {
    flex-direction: column;
  }

  & > .bk-btn {
    flex-grow: 1;
  }

  &:not(.bk-vertical) > .bk-btn + .bk-btn {
    margin-left: -1px;
  }

  &.bk-vertical > .bk-btn + .bk-btn {
    margin-top: -1px;
  }

  &:not(.bk-vertical) > .bk-btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &.bk-vertical > .bk-btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(.bk-vertical) > .bk-btn:not(:first-child):last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &.bk-vertical > .bk-btn:not(:first-child):last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & > .bk-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  &.bk-vertical > .bk-btn {
    width: 100%;
  }

  .bk-dropdown-toggle {
    flex: 0 0 0;
    padding: var(--padding-vertical) calc(var(--padding-horizontal)/2);
  }
}
