.bk-canvas-wrapper {
  position: relative;
  font-size: 12pt;
  float: left;
}

.bk-canvas {
  clear: both;
  position: absolute;
  font-size: 12pt;
}

.bk-canvas-wrapper .bk-canvas-map {
  position: absolute !important;
  z-index: -5;
}

.bk-canvas-map {
  position: absolute;
  border: 0;
  z-index: -5;
}
