@import "./_mixins.less";

:host {
  --caret-width: 18px;
  --caret-height: 12px;
}

&.bk-btn-default, &.bk-btn-light {
  --caret-color: light-dark(var(--color), var(--background-color));
}

&.bk-btn-primary, &.bk-btn-success, &.bk-btn-warning, &.bk-btn-danger {
  --caret-color: var(--inverted-color);
}

.bk-caret {
  display: inline-block;
  vertical-align: middle;
  width: var(--caret-width);
  height: var(--caret-height);
  .icon-mask(var(--bokeh-icon-caret-down), var(--caret-color));
}
