
.tableelem {
  padding: 2px 10px;
  border: 2px white;
  background-color: #E0E0E0;
}

.tableheader {
  background-color: #C0C0C0;
}

.bokehtable table tr td {
  padding: 2px;
}

.bokehtable form table tr td {
  padding: 2px;
}

.bokehtable form table tr td input {
  padding: 0px;
}
