.tableelem{
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 2px;
    padding-top : 2px;
    border-width : 2px;
    border-color : white;
    background-color : #E0E0E0;
}
.tableheader{
    background-color : #C0C0C0;
}


.bokehtable form table tr td{
    padding : 2px;
}
.bokehtable form table tr td input{
    padding : 0px;
}
.bokehtable table tr td{
    padding : 2px;
}