/* button-specific variables */

@buttonHeight: 28px;
@buttonWidth: 30px;
@buttonColor: lightgray;


.bk-plot:after, .bk-canvas-wrapper:after, .bk-sidebar:after, .bk-box:after {
  content: " ";
  height: 0;
  display: block;
  clear: both;
}

.bk-canvas-wrapper .bk-resize-popup {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAEnSURBVEiJzZXBioQwDIb/XQuF6U3wCRSEvv8zeFOoB2++QD14aqHSOntYtthxdHesDptTk4Z+hKR/PqqquuNi+7wa8DYIWTplWSJN0yDBGAMhBJxzhyFBJY8AACCErGKv2u4L1lp0XRdVBfBLTwghuN1uUYBNiDHGn4uiQJZl50GmaYJSCm3bou/700BBT4QQAL57IaUEAOR57kEAMAxDHMRaG1wuQc45aK1fBqwgz+wHpJSCUuoayBJ01P6/djHG/jR1hzWDMQbOuZedvak7XAljzAMe/xGlFEmSeP9wJVv/SGsNzjmcc2iaJg6yBbLWghASqHf0dEkpAwl6thpOGWGl1O46iIZQSsE5Dxp9OsQ5h3meV/FxHP05erdaa1HX9W7OW2TlC31ceRWbb5+AAAAAAElFTkSuQmCC);
  background-position: bottom right;
  background-repeat: no-repeat;
  cursor: se-resize;
}

.bk-canvas-wrapper:hover .bk-resize-popup{
  display: block;
}

.bk-sidebar {
  box-sizing: border-box;
}

.bk-button-bar .bk-bs-dropdown {
  a {
    color: transparent;
    font-size: 0;
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    margin-bottom: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAGdSURBVCiRXZJPSxtRFMV/dyYTunBREASRIkKwddPSjYIL+x2K9plR+owR7K7L7vsZutIkZqhO8jZ+h25aQilUkbaUgv2zEOpGpAsZnbld+BJC7ubAvYd77uEeYaTaB25bhJqi44Kcq9LYWDOt/lxVkQG542ZFaQP3gB6wBLwDFoGfKtQ2qua7qhIAJB1XEeUE9CtSPLCxWQbObGxWEL0P+k2Uk3barQBImrrgWvmE8NnGpgaQpO4OcArM2Nhc+d4e8DCUcL6UwZYIk0WYzw9Zy4CnHm+9hNcvJI/+3GhuJUndR+A3yCpoCGQ2NkWfnKQuAMqo5Ih2gakScBeYBj32vE3gw5DqAtBCFGAcuCwBF8CRIFX1SiNf6AGPQXLwSgq7Aq+zMGPLrPdNB16h50+92uvul4MiWlJ4FZShAZxFebQztL0MHHoEICiiBvCrRJiI31wBvii8zQt9WV9f/Zek7sjG5lFzvzsWBvJGYA2Ye1599mOQiKTjZlVpCcwA74En/UQonIqwaX0ihJFKUlcH6sAE8Bdo2tg0B/9S5T8JNaZ11wlT0wAAAABJRU5ErkJggg==);
  }
}


.bk-button-bar-list {
  margin: 0;
  padding: 0;
  > li {
    list-style-type: none;
    position: relative;
    float: left;

    display: block;
    &:last-child {
      &:after {
        content: " ";
        background-color: @buttonColor;
        float: left;
        height: 10px;
        width: 1px;
        margin: 10px 3px 0px 3px;
      }
    }
  }
}

.bk-button-bar-list .bk-bs-dropdown-menu {
  padding: 10px 8px;
}
.bk-button-bar-list .bk-bs-dropdown-menu li {
  float: none;
  clear: both;
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
}
.bk-button-bar-list .bk-bs-dropdown-menu li input {
  margin-right: 8px;
}
.bk-button-bar-list .bk-toolbar-button {
  width: @buttonWidth;
  height: @buttonHeight;
  padding: 5px;
  border: none;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  background: transparent !important;
}

.bk-button-bar-list .bk-toolbar-button .bk-btn-icon {
  display: block;
  position: relative;
  height: 16px;
  margin: 0;
  border: none;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

.bk-button-bar-list .bk-toolbar-button span.tip {
  display: none;
}

.bk-button-bar-list .bk-toolbar-button span.tip:before {
  display: none;
  content: " ";
  position: relative;
  width: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

.bk-button-bar-list li:hover .bk-toolbar-button .tip:before {
  display: inline-block;  // Can this be merged with above
}

.bk-button-bar-list li::hover .bk-toolbar-button {
  background: transparent !important;
}


.bk-button-bar-list li:hover .bk-toolbar-button .tip {
  z-index: 100;
  white-space: nowrap;
  background-color: #fff;
  opacity: 0.95;
  border: #e5e5e5 solid 1px;
  display: inline-block;
  position: relative;
  float: left;
  padding: 5px 10px;
  &:before {
    display: block !important;
  }
}

.bk-toolbar-above .bk-button-bar-list li:hover .bk-toolbar-button .tip {
  top: 10px;
  left: -10px;
}

.bk-toolbar-below .bk-button-bar-list li:hover .bk-toolbar-button .tip {
  top: -50px;
  left: -10px;
}

.bk-toolbar-left .bk-button-bar-list li:hover .bk-toolbar-button .tip {
   top: -22px;
   left: 26px;
}

.bk-toolbar-right .bk-button-bar-list li:hover .bk-toolbar-button .tip {
   float: right;
   top: -22px;
   left: -26px;
}

.bk-toolbar-above .bk-button-bar-list .bk-toolbar-button.active {
  border-bottom: 2px solid #26aae1;
}

.bk-toolbar-below .bk-button-bar-list .bk-toolbar-button.active {
  border-top: 2px solid #26aae1;
}

.bk-toolbar-right .bk-button-bar-list .bk-toolbar-button.active {
  border-left: 2px solid #26aae1;
}

.bk-toolbar-left .bk-button-bar-list .bk-toolbar-button.active {
  border-right: 2px solid #26aae1;
}


.bk-button-bar > .bk-toolbar-button.active {
  border-bottom: 1px solid #26aae1;
}

// If the toolbar is not sticky - add the line
.bk-toolbar-above.bk-toolbar-not-sticky {
  border-bottom: 1px solid #e5e5e5;
}
.bk-toolbar-below.bk-toolbar-not-sticky {
  border-top: 1px solid #e5e5e5;
}
.bk-toolbar-left.bk-toolbar-not-sticky {
  border-right: 1px solid #e5e5e5;
}
.bk-toolbar-right.bk-toolbar-not-sticky {
  border-left: 1px solid #e5e5e5;
}

// Small visual tweaks to button bar offset (not sure we need these)
.bk-toolbar-above  .bk-button-bar {
  top: 2px;
}
.bk-toolbar-right .bk-button-bar {
  left: 1px;
}

.bk-toolbar-above,
.bk-toolbar-below {
  margin: 0;
  position: absolute;
  right: 0px;
  .bk-logo {
    float: right;
    margin-right: -1px;
  }
  .bk-button-bar {
    padding: 0;
    float: right;
    position: relative;
    .bk-button-bar-list {
      float: left;
      &[type='help'] {
        .bk-toolbar-button {
          .tip {
             float: right;
          }
        }
      }
      &.bk-bs-dropdown {
        padding: 7px 10px 0 5px;
      }
      .bk-bs-dropdown-menu {
        left: -120px;
      }
    }
  }
}

.bk-toolbar-left,
.bk-toolbar-right {
  margin: 0;
  position: absolute;
  top: 0px;
  .bk-logo  {
    margin-top: -1px;
  }
  .bk-button-bar {
    position: relative;
    &:before, &:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
    }
    .bk-button-bar-list {
      &[type='help'] {
        > li {
          height: 24px;
          &:last-child:after {
             display: none;
          }
        }
      }
      &.bk-bs-dropdown {
        float: left;
        padding: 7px 10px 0 5px;
      }
      .bk-bs-dropdown-menu {
       top: 0px;
       left: 30px;
      }
      > li {
        clear: both;
        &:last-child {
          &:after {
            content: " ";
            float: none;
            clear: both;
            display: block;
            height: 1px;
            width: 10px;
            padding: 0;
            margin: 2px 0 2px 10px;
          }
        }
      }
    }
  }
}


// Positioning tweaks - can't seem to get solver to do it right
.bk-toolbar-box .bk-toolbar-below {
  top: -1px;
}
.bk-toolbar-box .bk-toolbar-right {
  top: -1px;
  right: 0px;
}
.bk-toolbar-right .bk-button-bar .bk-button-bar-list .bk-bs-dropdown-menu {
  left: -180px;
}

.bk-button-bar-list .bk-toolbar-button.active {
  background: #fff;
  -box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  outline: none !important;
}

.bk-bs-caret {
  color: @buttonColor;
  display: inline-block;
  width: 0;
  height: 0;
  position: relative;
  left: 11px;
  top: 3px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

// Override the toolbar dropdown box

.bk-button-bar-list .bk-bs-dropdown-menu {
  z-index: 100;
  background-color: #fff;
  opacity: 0.95;
  border: #e5e5e5 solid 1px;
  border-radius: inherit;
  box-shadow: none;
}
