@import "bootstrap.less";
.bk-crossfilter-row{
    .bk-bs-row;
    height : 100%;
    width : 100%;
    margin : 0px;
}
.bk-crossfilter-panel-heading{
    padding-top : 5px;
    padding-bottom : 5px;
}

.aligntable{
    vertical-align: top;
}

.bk-crossfilter-container{
    height : 100%;
    width : 100%;
    whitespace : nowrap;
    display : inline-block;
    overflow : auto;
}
.bk-crossfilter-configuration{
    overflow : auto;
    float : left;
    padding-right : 0px !important;
    padding-left : 15px !important;
    margin-left : 0px !important;
    margin-right : 0px !important;
}

.bk-column-list{
    overflow-y : auto;
    height : 100%;
    padding-right : 0px;
    padding-left : 0px;
}

.bk-table{
    .bk-bs-table;
    .bk-bs-table-condensed;
    border-top : none;
    margin-bottom : 0px;
    text-algin : left;
}

.bk-filters-facets{
    height : 100%;
    padding-left : 0px;
    padding-right : 0px;
}
.bk-filters{
    height : 45%;
    overflow : hidden;
    position : relative;
}
.bk-filters-selections{
    position : absolute;
    top : 30px;
    left : 0px;
    right : 0px;
    bottom : 0px;
    overflow-y : auto;
    padding-top : 0px;
    padding-bottom : 0px;
    padding : 5px !important;
}

.bk-facet{
    height : 14%;
    position : relative;
}

.bk-facets-selections{
    position : absolute;
    top : 30px;
    left : 0px;
    right : 0px;
    bottom : 0px;
}

.bk-plot-selection{
    padding-right : 0px;
    padding-left : 0px;
}
.bk-plot{
    float : left;
    display : inline-block;
}

.bk-facet-label{
    .bk-bs-label;
    .bk-bs-label-info;
    margin-left : 5px;
    display : inline-block;
    cursor : pointer;
}

.bk-filters-selections .bk-sidebar {
    -webkit-transform: scale(0.5, 0.5) !important;
    transform : scale(0.5, 0.5) !important;
}

.bk-crossfilter .bk-widget-form{
    padding : 5px;
}
