@import "bk.less";

.bk .panel-heading{
    padding-top : 5px;
    padding-bottom : 5px;    
}

.bk-crossfilter{
    overflow-x : auto;
    padding-right : 0px;
    padding-left : 0px;
}
.bk .row{
    height : 100%;
    width : 100%;
    margin : 0px;
}

.bk-column-list{
    overflow-y : auto;
    height : 100%;
    padding-right : 0px;
    padding-left : 0px;    
}

.bk-table{
    .bk .table;
    .bk .table-condensed;
    border-top : none;
    margin-bottom : 0px;
    text-algin : left;
}

.bk-filters-facets{
    height : 100%;
    overflow-y : auto;
    padding-left : 0px;
    padding-right : 0px;    
}
.bk-filters{
    height : 40%;
}
.bk-filters-selections{
    height : 100%;
}

.bk-facet{
    height : 14%;
}

.bk-plot-selection{
    padding-right : 0px;
    padding-left : 0px;
}
.bk-plot-col{
    height : 100%;
    padding-right : 0px;
    padding-left : 0px;
     
}
.bk-plot-panel{
    height : 100%;
    margin-bottom:0px !important;
}
.bk-plot-container{
   padding : 0px !important;
   height : 95%;
   width : 100%;
   overflow : scroll;
}
.bk-plot{
    overflow : scroll;
    display : inline-block;
}

.plotarea,
.plotview{
    overflow : hidden;
    float : left;

}
/* .bk-column-list{ */
/*   overflow-y : scroll; */
/*   height : 100%; */
/* } */

/* .bk-column-list{ */
/*   overflow-y : scroll; */
/*   height : 100%; */
/* } */

/* .bk-crossfilter-column-entry{ */
/*   width : 100%; */
/*  } */



/* .bk-facet-x, */
/* .bk-facet-y, */
/* .bk-facet-tab{ */
/*   min-width : 2z00px; */
/*   height : 98%; */
/*   overflow : hidden; */
/*   .panel; */
/*   .panel-primary; */
/*   margin-bottom : 0px; */
/*   .hbox; */
/*   height : 32%; */
/* } */
/* .bk-droppable-hover { */
/*     background-color : #ccc !important; */
/* } */
/* .bk-facets{ */
/*   top : 0px; */
/*   right : 0px; */
/*   width : 300px; */
/*   height : 150px; */
/*   .panel; */
/*   .panel-primary; */
/*   margin-bottom : 0px; */
/* } */

/* .bk-facets-heading{ */
/*   padding : 0px;     */
/* } */

/* .bk-filters-heading{ */
/*   .panel-heading; */
/*   padding : 0px; */
/* } */

/* .bk-facets-selections{ */
/*  .hbox;     */
/* } */
/* .bk-filters-selections{ */
/*   .hbox; */
/*   height : 135px; */
/*   padding-left : 10px; */
/*   padding-right : 10px; */
/* } */

/* .bk-filter-content{ */
/*     width : 30px; */
/*     height : 100%; */
/*     background-color : red; */
/* } */
/* .bk-facet-content{ */
/*     width : 30px; */
/*     height : 100%; */
/*     background-color : green; */
/* } */
/* .bk-crossfilter{ */
/*   .container-fluid; */
/* } */

/* .bk-crossfilter-row{ */
/*   .row; */
/*   overflow : hidden; */
/*   height : 100%; */
/* } */

/* .bk-table{ */
/*  .table;    */
/*  .table-condensed; */
/*  border-top : none; */
/*  margin-bottom : 0px; */
/*  text-algin : left; */
/* } */

/* .bk-table thead tr th, */
/* .bk-table thead tr, */
/* .bk-table thead{ */
/*   border : none; */
/*   text-align : left; */
/* } */
