:host {
  left: 0;
  top: 0;
}

.bk-content {
  justify-content: center;
  padding: 1em;

  strong {
    font-size: 1.5em
  }

  p {
    width: 60ch;
    text-align: center;

    &:last-child {
      // Provide some space between the bottom of the content and the bottom of
      // the dialog window
      padding-bottom: 1em;
    }
  }
}
