:host {
  // TODO: shared with tool_button.less
  --button-color: lightgray;
}

:host {
  flex: 0 0 auto;
  background-color: var(--button-color);
}

:host(.bk-horizontal) {
  height: 10px;
  width: 1px;
}

:host(.bk-vertical) {
  height: 1px;
  width: 10px;
}
