@import "./_mixins.less";

:host {
  position: relative; // required to position the menu
}

.bk-menu {
  &.bk-above {
    bottom: 100%;
  }
  &.bk-below {
    top: 100%;
  }

  position: absolute;
  left: 0;
  width: 100%;
  z-index: var(--bokeh-top-level);

  cursor: pointer;
  font-size: var(--font-size);
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-x-symmetric);

  & > .bk-divider {
    height: 1px;
    margin: calc(var(--line-height-computed)/2 - 1px) 0;
    overflow: hidden;
    background-color: var(--divider-color);
  }

  & > :not(.bk-divider) {
    padding: var(--padding-vertical) var(--padding-horizontal);

    &:focus-visible, &.bk-active {
      background-color: var(--default-active-color);
    }
    &:hover {
      background-color: var(--hover-color);
      text-decoration: underline;
    }
    &:focus-visible {
      outline: 2px solid var(--highlight-color);
      outline-offset: -2px;
      border-color: var(--default-border-color);
    }
    &.bk-active {
      background-image: var(--bokeh-icon-check);
      background-position: right 0.5em center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }

}

.bk-btn:focus{
  outline: 2px solid var(--highlight-color);
  outline-offset: 0px;
  border-color: var(--default-border-color);
}

.bk-btn:not(.bk-dropdown-toggle) > .bk-chevron {
  margin-left: 10px;
  margin-right: -5px;
}
