
.bk-tooltip-row-label {
  text-align: right;
  color: #26aae1;  /* blue from toolbar highlighting */
}

.bk-tooltip-row-value {
/* XXX: 'default' is not a color
  color: default; // seems to be necessary for notebook
*/
  color: none;
}

.bk-tooltip-color-block {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  outline: #dddddd solid 1px;
  display: inline-block;
}
