.bk-tooltip-entry {
  display: table;
  border-spacing: 2px;
}

.bk-tooltip-row {
  display: table-row;
}

.bk-tooltip-row-label {
  display: table-cell;
  text-align: right;
  color: #26aae1; // --highlight-color not as lively
}

.bk-tooltip-row-value {
  display: table-cell;
  color: none;

  pre {
    display: inline;
  }
}

.bk-tooltip-color-block {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  outline: var(--divider-color) solid 1px;
  display: inline-block;
}
