// Styles related to laying out bokeh.

.bk-plot-layout {
  text-align: start;
}

.bk-grid-row, .bk-grid-column {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.bk-grid-row {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.bk-grid-column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

// Set-up the plot canvas css
.bk-canvas, .bk-canvas-overlays, .bk-canvas-events {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bk-canvas-wrapper {
  z-index: 50;
}
.bk-canvas-overlays {
  z-index: 75;
}
.bk-canvas-events {
  z-index: 100;
}
