:host {
  --bokeh-logo: data-uri("icons/logo.svg");
}

:host {
  // TODO for now reduce baseline changes
  // width: var(--tool-button-width);
  // height: var(--tool-button-height);
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--bokeh-logo);
  background-size: 20px; // original PNG image was 20x20px
}

:host(.bk-grey) {
  filter: grayscale(100%);
}

:host(:hover) {
  background-color: var(--hover-color);
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

a:focus, a:focus-visible {
  outline: 1px dotted var(--highlight-color);
  outline-offset: -1px;
}
