:host {
  --bokeh-logo: data-uri("icons/logo.svg");
}

:host {
  flex: 0 0 auto;
  order: 0;

  width: var(--tool-button-width);
  height: var(--tool-button-height);

  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--bokeh-logo);
  background-size: 20px; // original PNG image was 20x20px
}

:host(.bk-last) {
  order: 1;
}

:host(.bk-grey) {
  filter: grayscale(100%);
}

:host(:hover) {
  background-color: var(--hover-color);
}

a {
  display: block;
  width: 100%;
  height: 100%;
}
