@import (reference) "bootstrap.less";

@header-color: lighten(#000, 90%);
@border-color: lighten(#000, 80%);

.bk-pivot {
  font-family: arial;
  font-size: 8pt;
}

.bk-wait {
  font-weight: bold;
  font-size: @font-size-large;
}

.bk-pivot-toolbox {
  min-width: 200px;
  width: 250px;

  ul {
    padding: 0;
  }

  li {
    padding: 5px;
    list-style-type: none;
    .bk-bs-clearfix();
  }

  .bk-pivot-box {
    border: 1px solid @border-color;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;

    > li:first-child {
      background-color: @header-color;
    }

    .bk-pivot-box-header {
      cursor: move;

      .bk-field {
        font-weight: bold;
      }

      .bk-dtype {
        color: @gray-light;
      }

      .bk-bs-close {
        font-size: 16px;
      }
    }
  }
}

table.pvtTable {
  text-align: left;
  border-collapse: collapse;
}

table.pvtTable tr th {
  background-color: @header-color;
  border: 1px solid @border-color;
  font-size: 8pt;
  padding: 5px;
}

table.pvtTable .pvtColLabel {
  text-align: center;
}

table.pvtTable .pvtTotalLabel {
  text-align: right;
}

table.pvtTable tr td {
  padding: 5px;
  border: 1px solid @border-color;
  vertical-align: top;
  text-align: right;
}

.pvtTotal, .pvtGrandTotal {
  font-weight: bold;
}
