:host {
  display: grid;

  grid-template-areas:
    ".    above  .    "
    "left center right"
    ".    below  .    ";

  // This is computed in _measure_layout()
  grid-template-rows: 0px 1fr 0px;
  grid-template-columns: 0px 1fr 0px;
}

.bk-Canvas {
  grid-row-start: 1;
  grid-row-end: span 3;
  grid-column-start: 1;
  grid-column-end: span 3;
}
