.bk-nullish { color: #7724c1; }
.bk-token { color: #881280; }
.bk-boolean { color: #007500; }
.bk-number { color: #1a1aa6; }
.bk-string { color: #994500; }
.bk-symbol { color: #c80000; }
.bk-model { color: initial; }
.bk-attr { color: #c80000; }
.bk-array { color: initial; }
.bk-object { color: initial; }
.bk-iterable { color: initial; }
