:host {
  position: relative;
  display: inline-block;
  width: max-content;
  height: max-content;
  pointer-events: all;
  cursor: text;
}

.bk-label {
  white-space: pre;
}

.bk-label:empty {
  display: none;
}
