@import "./_mixins.less";

:host {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .no-user-select();
}

:host(.bk-inner) {
  background-color: white;
  opacity: 0.8;
}

:host(.bk-hidden) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.bk-logo {
  flex-shrink: 0;
}

:host(.bk-above), :host(.bk-below) {
  flex-direction: row;
  justify-content: flex-end;

  .bk-logo {
    order: 1;
    margin-left: 5px;
    margin-right: 0px;
  }
}

:host(.bk-left), :host(.bk-right) {
  flex-direction: column;
  justify-content: flex-start;

  .bk-logo {
    order: 0;
    margin-bottom: 5px;
    margin-top: 0px;
  }
}
