@import "./_mixins.less";

:host {
  --tooltip-border: var(--tooltip-border-color);
  --tooltip-color: var(--background-color);
  --tooltip-text: var(--color);

  --tooltip-arrow-outer-color: white;
  --tooltip-arrow-color: var(--tooltip-border);
  --tooltip-arrow-width: 10px;
  --tooltip-arrow-height: 10px;
  --tooltip-arrow-half-width: 7px;
  --tooltip-arrow-half-height: 7px;

  --tooltip-arrow-border: 1px;
  --tooltip-arrow-inner-color: var(--tooltip-color);
  --tooltip-arrow-inner-width: calc(var(--tooltip-arrow-width) - var(--tooltip-arrow-border));
  --tooltip-arrow-inner-height: calc(var(--tooltip-arrow-height) - var(--tooltip-arrow-border));
  --tooltip-arrow-inner-half-width: calc(var(--tooltip-arrow-half-width) - var(--tooltip-arrow-border));
  --tooltip-arrow-inner-half-height: calc(var(--tooltip-arrow-half-height) - var(--tooltip-arrow-border));
}

:host {
  width: max-content;
  font-size: var(--font-size);
  position: fixed;
  z-index: var(--bokeh-top-level);
  margin: 0; // cancel native popover styling
  padding: 0;
  border: none;
  background-color: transparent;
}

.bk-tooltip-wrapper {
  padding: 5px;
  border: 1px solid var(--tooltip-border);
  border-radius: var(--border-radius);
  color: var(--tooltip-text);
  background-color: var(--tooltip-color);
}


:host(:where(:not(:popover-open))) {
  display: none;
}



:host(.bk-non-interactive) {
  pointer-events: none;
}

.bk-arrow-outer {
  pointer-events: none;
  position: fixed;
  width: 0;
  height: 0;
  content: " ";
  border-style: solid;
  border-color: transparent;
}

.bk-arrow {
  pointer-events: none;
  position: fixed;
  width: 0;
  height: 0;
  content: " ";
  border-style: solid;
  border-color: transparent;
}

:host(.bk-left), :host(.bk-right) {
  .bk-arrow, .bk-arrow-outer {
    border-width: var(--tooltip-arrow-half-height) 0px var(--tooltip-arrow-half-height) 0px;
  }
}

:host(.bk-above), :host(.bk-below) {
  .bk-arrow, .bk-arrow-outer {
    border-width: 0px var(--tooltip-arrow-half-width) 0px var(--tooltip-arrow-half-width);
  }
}

:host(.bk-left) .bk-arrow-outer {
  transform: translate(0%, -50%);
  border-right-width: var(--tooltip-arrow-width);
  border-right-color: var(--tooltip-arrow-outer-color);
}

:host(.bk-right) .bk-arrow-outer {
  transform: translate(-100%, -50%);
  border-left-width: var(--tooltip-arrow-width);
  border-left-color: var(--tooltip-arrow-outer-color);
}

:host(.bk-above) .bk-arrow-outer {
  transform: translate(-50%, 0%);
  border-bottom-width: var(--tooltip-arrow-height);
  border-bottom-color: var(--tooltip-arrow-outer-color);
}

:host(.bk-below) .bk-arrow-outer {
  transform: translate(-50%, -100%);
  border-top-width: var(--tooltip-arrow-height);
  border-top-color: var(--tooltip-arrow-outer-color);
}

:host(.bk-left) .bk-arrow {
  left: calc(+1 * var(--tooltip-arrow-border));
  transform: translate(0%, -50%);
  border-right-width: var(--tooltip-arrow-width);
  border-right-color: var(--tooltip-arrow-color);
}

:host(.bk-right) .bk-arrow {
  left: calc(-1 * var(--tooltip-arrow-border));
  transform: translate(-100%, -50%);
  border-left-width: var(--tooltip-arrow-width);
  border-left-color: var(--tooltip-arrow-color);
}

:host(.bk-above) .bk-arrow {
  top: calc(+1 * var(--tooltip-arrow-border));
  transform: translate(-50%, 0%);
  border-bottom-width: var(--tooltip-arrow-height);
  border-bottom-color: var(--tooltip-arrow-color);
}

:host(.bk-below) .bk-arrow {
  top: calc(-1 * var(--tooltip-arrow-border));
  transform: translate(-50%, -100%);
  border-top-width: var(--tooltip-arrow-height);
  border-top-color: var(--tooltip-arrow-color);
}

.bk-arrow-inner {
  pointer-events: none;
  position: fixed;
  width: 0;
  height: 0;
  content: " ";
  border-style: solid;
  border-color: transparent;
}

:host(.bk-left), :host(.bk-right) {
  .bk-arrow-inner {
    border-width: var(--tooltip-arrow-inner-half-height) 1px var(--tooltip-arrow-inner-half-height) 1px;
  }
}

:host(.bk-above), :host(.bk-below) {
  .bk-arrow-inner {
    border-width: 1px var(--tooltip-arrow-inner-half-width) 1px var(--tooltip-arrow-inner-half-width);
  }
}

:host(.bk-left) .bk-arrow-inner {
  left: calc(+1 * var(--tooltip-arrow-border));
  transform: translate(0%, -50%);
  border-right-width: var(--tooltip-arrow-inner-width);
  border-right-color: var(--tooltip-arrow-inner-color);
}

:host(.bk-right) .bk-arrow-inner {
  left: calc(-1 * var(--tooltip-arrow-border));
  transform: translate(-100%, -50%);
  border-left-width: var(--tooltip-arrow-inner-width);
  border-left-color: var(--tooltip-arrow-inner-color);
}

:host(.bk-above) .bk-arrow-inner {
  top: calc(+1 * var(--tooltip-arrow-border));
  transform: translate(-50%, 0%);
  border-bottom-width: var(--tooltip-arrow-inner-height);
  border-bottom-color: var(--tooltip-arrow-inner-color);
}

:host(.bk-below) .bk-arrow-inner {
  top: calc(-1 * var(--tooltip-arrow-border));
  transform: translate(-50%, -100%);
  border-top-width: var(--tooltip-arrow-inner-height);
  border-top-color: var(--tooltip-arrow-inner-color);
}

:host(:not(.bk-show-arrow)) .bk-arrow {
  display: none;
}

.bk-tooltip-content > div:not(:first-child) {
  // gives space when multiple elements are being hovered over
  margin-top: 5px;
  border-top: var(--tooltip-border) 1px dashed;
}

:host(.bk-closable) {
  padding-right: 17px; // 5px + close button width
}

.bk-close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 12px;
  height: 12px;
  cursor: pointer;

  .icon-mask(var(--bokeh-icon-x), gray);

  &:hover {
    background-color: red;
  }
}
