@import "./_mixins.less";

:host {
  --tooltipBorder: #e5e5e5;  /* Same border color used everywhere */
  --tooltipColor: white;
  --tooltipText: #2f2f2f;

  --tooltipArrowColor: #909599;  /* Gray of icons */
  --tooltipArrowWidth: 10px;
  --tooltipArrowHeight: 10px;
  --tooltipArrowHalfWidth: 7px;
  --tooltipArrowHalfHeight: 7px;
}

:host {
  width: max-content;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  padding: 5px;
  border: 1px solid var(--tooltipBorder);
  color: var(--tooltipText);
  background-color: var(--tooltipColor);
  pointer-events: none;
  opacity: 0.95;
  .bring-to-front();
}

.bk-tooltip-contents > div:not(:first-child) {
  // gives space when multiple elements are being hovered over
  margin-top: 5px;
  border-top: var(--tooltipBorder) 1px dashed;
}

.tooltip-arrow-horizontal() {
  position: absolute;
  margin: calc(-1*var(--tooltipArrowHalfHeight)) 0 0 0;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--tooltipArrowHalfHeight) 0 var(--tooltipArrowHalfHeight) 0;
  border-color: transparent;
  content: " ";
  display: block;
}

.tooltip-arrow-vertical() {
  position: absolute;
  margin: 0 0 0 calc(-1*var(--tooltipArrowHalfWidth));
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 var(--tooltipArrowHalfWidth) 0 var(--tooltipArrowHalfWidth);
  border-color: transparent;
  content: " ";
  display: block;
}

:host(.bk-left.bk-tooltip-arrow) .bk-tooltip-content::before {
  .tooltip-arrow-horizontal();
  left: calc(-1*var(--tooltipArrowWidth));
  border-right-width: var(--tooltipArrowWidth);
  border-right-color: var(--tooltipArrowColor);
}

:host(.bk-left) .bk-tooltip-content::before {
  left: calc(-1*var(--tooltipArrowWidth));
  border-right-width: var(--tooltipArrowWidth);
  border-right-color: var(--tooltipArrowColor);
}

:host(.bk-right.bk-tooltip-arrow) .bk-tooltip-content::after {
  .tooltip-arrow-horizontal();
  right: calc(-1*var(--tooltipArrowWidth));
  border-left-width: var(--tooltipArrowWidth);
  border-left-color: var(--tooltipArrowColor);
}

:host(.bk-right) .bk-tooltip-content::after {
  right: calc(-1*var(--tooltipArrowWidth));
  border-left-width: var(--tooltipArrowWidth);
  border-left-color: var(--tooltipArrowColor);
}

:host(.bk-above) .bk-tooltip-content::before {
  .tooltip-arrow-vertical();
  top: calc(-1*var(--tooltipArrowHeight));
  border-bottom-width: var(--tooltipArrowHeight);
  border-bottom-color: var(--tooltipArrowColor);
}

:host(.bk-below) .bk-tooltip-content::after {
  .tooltip-arrow-vertical();
  bottom: calc(-1*var(--tooltipArrowHeight));
  border-top-width: var(--tooltipArrowHeight);
  border-top-color: var(--tooltipArrowColor);
}

.bk-tooltip-row-label {
  text-align: right;
  color: #26aae1;  /* blue from toolbar highlighting */
}

.bk-tooltip-row-value {
  color: default; /* seems to be necessary for notebook */
}

.bk-tooltip-color-block {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  outline: #dddddd solid 1px;
  display: inline-block;
}
