<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test report for Bokeh {{ version }} {% if diff %}(against {{ diff }}){% endif %}</title>
    </head>
    <style>
    .header > .ok {
        color: green;
    }
    .header > .fail {
        color: red;
    }
    .header > .skip {
        color: yellow;
    }
    .thumbnail {
        width: 300px;
        height: 300px;
    }
    </style>
    <body>
        <ul>
            {% for (example, diff, fail, skip, png_url, dif_url, ref_url) in entries %}
            <li>
                <span class="header">
                    {{ example }}&nbsp;
                    [{% if fail %}
                    <span class="fail">FAIL</span>
                    {% elif skip %}
                    <span class="skip">SKIP</span>
                    {% else %}
                    <span class="ok">OK</span>
                    {% endif %}]
                </span>
                <div>
                    {% if not skip %}
                    <a href="{{ png_url }}"><img class="thumbnail" src="{{ png_url }}"></img></a>
                    {% if diff %}
                    <a href="{{ dif_url }}"><img class="thumbnail" src="{{ dif_url }}"></img></a>
                    <a href="{{ ref_url }}"><img class="thumbnail" src="{{ ref_url }}"></img></a>
                    {% endif %}
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
