.bk-pivot {
  font-family: arial;
  font-size: 8pt;
}
.bk-wait {
  font-weight: bold;
  font-size: 18px;
}
.bk-pivot-toolbox {
  min-width: 200px;
  width: 250px;
}
.bk-pivot-toolbox ul {
  padding: 0;
}
.bk-pivot-toolbox li {
  padding: 5px;
  list-style-type: none;
}
.bk-pivot-toolbox li:before,
.bk-pivot-toolbox li:after {
  content: " ";
  display: table;
}
.bk-pivot-toolbox li:after {
  clear: both;
}
.bk-pivot-toolbox .bk-pivot-box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 5px;
  background-color: white;
}
.bk-pivot-toolbox .bk-pivot-box > li:first-child {
  background-color: #e6e6e6;
}
.bk-pivot-toolbox .bk-pivot-box .bk-pivot-box-header {
  cursor: move;
}
.bk-pivot-toolbox .bk-pivot-box .bk-pivot-box-header .bk-field {
  font-weight: bold;
}
.bk-pivot-toolbox .bk-pivot-box .bk-pivot-box-header .bk-dtype {
  color: #999999;
}
.bk-pivot-toolbox .bk-pivot-box .bk-pivot-box-header .close {
  font-size: 16px;
}
table.pvtTable {
  text-align: left;
  border-collapse: collapse;
}
table.pvtTable tr th,
table.pvtTable tr th {
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  font-size: 8pt;
  padding: 5px;
}
table.pvtTable .pvtColLabel {
  text-align: center;
}
table.pvtTable .pvtTotalLabel {
  text-align: right;
}
table.pvtTable tr td {
  padding: 5px;
  border: 1px solid #cccccc;
  vertical-align: top;
  text-align: right;
}
.pvtTotal,
.pvtGrandTotal {
  font-weight: bold;
}
