.bk-hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.bk-vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  /* width must be 100% to force FF to behave like webkit */
  width: 100%;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.bk-widget-form {
  padding: 30px 30px 30px 30px;
  overflow: hidden;
}
.bk-widget-form-group {
  margin-bottom: 15px;
}
.bk-widget-form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bk-widget-form-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.bk-widget-form-input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.bk-widget-form-input:-ms-input-placeholder {
  color: #999999;
}
.bk-widget-form-input::-webkit-input-placeholder {
  color: #999999;
}
.bk-widget-form-input[disabled],
.bk-widget-form-input[readonly],
fieldset[disabled] .bk-widget-form-input {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.bk-widget-form-input {
  height: auto;
}
.bk-slider-horizontal {
  width: 100%;
  min-width: 200px;
  height: 50px;
}
.bk-slider-vertical {
  height: 100%;
  min-height: 200px;
  width: 50px;
}
