@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.bk-stats-table {
  margin: 0 0 1em 0;
  min-width: 10.5em;
}

.bk-stats-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.bk-stats-table th {
  display: none;
}
.bk-stats-table td {
  display: block;
}
.bk-stats-table td:first-child {
  padding-top: .1em;
}
.bk-stats-table td:last-child {
  padding-bottom: .1em;
}
.bk-stats-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 3em;
  display: inline-block;
}
@media (min-width: 480px) {
  .bk-stats-table td:before {
    display: none;
  }
}
.bk-stats-table th, .bk-stats-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .bk-stats-table th, .bk-stats-table td {
    display: table-cell;
    padding: .1em .25em;
  }
  .bk-stats-table th:first-child, .bk-stats-table td:first-child {
    padding-left: 0;
  }
  .bk-stats-table th:last-child, .bk-stats-table td:last-child {
    padding-right: 0;
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
  background: #2F2F2F;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.bk-stats-table {
  background: #2F2F2F;
  color: #fff;
  border-radius: 0em;
  overflow: hidden;
}
.bk-stats-table tr {
  border-color: #46637f;
}
.bk-stats-table th, .bk-stats-table td {
  margin: .1em .25em;
}
@media (min-width: 480px) {
  .bk-stats-table th, .bk-stats-table td {
    padding: .25em !important;
  }
}
.bk-stats-table th, .bk-stats-table td:before {
  color: #9FB744;
}
