@noUi-css-prefix: bk-noUi;
@nouislider: "../../../node_modules/nouislider/src";
@import "@{nouislider}/nouislider.base.less";

.@{noUi-css-prefix}-handle {
  cursor: grab;
  cursor: -webkit-grab;
  &.@{noUi-css-prefix}-active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
}

.@{noUi-css-prefix}-tooltip {
  display: none;
  white-space: nowrap;
}

.@{noUi-css-prefix}-handle:hover {
  .@{noUi-css-prefix}-tooltip {
    display: block;
  }
}
