@import "../_mixins.less";

.bk-value-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.bk-value {
  flex-grow: 1;
}

.bk-chevron {
  .icon-mask(var(--bokeh-icon-chevron-down));
  width: 16px;
  height: 16px;
}
