@import "../_mixins.less";

:host {
  --toggle-size: 14px;
  --toggle-padding: 4px;
}

.bk-toggle {
  align-self: center;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--background-color);

  .bk-icon {
    width: var(--toggle-size);
    height: var(--toggle-size);

    .icon-mask-base(var(--icon-color));
  }
  &:hover {
    .bk-icon {
      .mask-color(red);
    }
  }
  &:focus, &:focus-visible {
    outline: var(--outline);
  }
}

input[type="password"] + .bk-toggle {
  .bk-icon {
    .mask-image(var(--bokeh-icon-see-off));
  }
}

input[type="text"] + .bk-toggle {
  .bk-icon {
    .mask-image(var(--bokeh-icon-see-on));
  }
}
