@slick_dist: "../../../node_modules/slickgrid/dist/styles/css";

@import (less) "@{slick_dist}/slick.grid.css";
@import (less) "@{slick_dist}/slick-default-theme.css";
@import (less) "@{slick_dist}/slick.headerbuttons.css";
@import (less) "@{slick_dist}/slick.headermenu.css";
@import (less) "@{slick_dist}/slick.columnpicker.css";
@import (less) "@{slick_dist}/slick.pager.css";
@import (less) "@{slick_dist}/slick-icons.css";

:host {
  --selected: #f0f8ff;
}

// slick-default-theme.css
.slick-header-columns {
  border-bottom: var(--border);
  background-image: none;
  background-color: white;
}

.slick-header-column {
  border-right: var(--border-width) var(--border-style) transparent;
  background-image: none;
  background-color: white;
}

.slick-header-column:last-of-type {
  border-right-color: transparent;
}

.slick-header-column:hover, .slick-header-column-active {
  background-color: var(--selected);
  background-image: none;
}

// slick-default-theme.css
.slick-header-columns {
  background-image: none;
}

.slick-header-column {
  background-image: none;
}

.slick-header-column:hover, .slick-header-column-active {
  background-image: none;
}

// controls/slick.pager.css
.slick-pager {
  background-image: none;
}
