:host {
  background-color: var(--background-color);
}

.bk-slider-title {
  white-space: nowrap;
  color: var(--inherit-color);
}

.bk-slider-value {
  font-weight: 600;
  color: var(--inherit-color);
}

// from inputs.less
.bk-input-group {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: start;
  flex-direction: column;
  background-color: var(--inherit-background-color);

  white-space: nowrap;

  &.bk-inline {
    flex-direction: row;

    & > *:not(:first-child) {
      margin-left: 5px;
    }
  }
}
