:host {
  background-color: var(--background-color);
}

.bk-slider-title {
  white-space: nowrap;
  color: var(--inherit-color);
}

.bk-slider-value {
  font-weight: 600;
  color: var(--inherit-color);
}
