@import "../_mixins.less";

:host {
  --switch-width: 32px;
  --switch-size: 16px;
  --bar-height: 10px;
}

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  border-radius: 5px;
  border: transparent solid;

  &(:focus-within) {
    outline: 2px solid var(--input-focus-border-color);
  }

  &(:hover) {
    text-decoration: underline;
  }
}

.bk-icon {
  position: relative;
  width: var(--switch-size);
  height: var(--switch-size);
  .icon-mask-base();
}

.bk-body {
  position: relative;
  width: var(--switch-width);
  height: var(--switch-size);
  cursor: pointer;
}

:host(.bk-disabled) {
  cursor: not-allowed;
  outline: none;
  text-decoration: none;

  & .bk-label {
    color: var(--disabled-color);
  }

  & .bk-body {
    cursor: not-allowed;
  }

  & .bk-knob:before {
    content: "";
    width: 10px;
    height: 2px;
    background-color: var(--inverted-color);
  }

  & .bk-knob:focus-visible {
    outline: none;
  }
}

.bk-bar {
  position: relative;
  top: calc(50% - var(--bar-height)/2);
  height: var(--bar-height);
  border-radius: calc(var(--bar-height)/2);
  background-color: var(--inactive-bg);
  transition-property: background-color;
}

.bk-knob {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--switch-size);
  height: var(--switch-size);
  border-radius: 8px;
  background-color: var(--inactive-fg);
  transition-property: left, background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host(.bk-active) .bk-bar {
  background-color: var(--active-bg);
}

:host(.bk-active) {
  & .bk-knob {
    left: calc(100% - var(--switch-size));
    background-color: var(--active-fg);
  }

  & .bk-knob:focus-visible {
    outline: var(--active-switch-focus-outline-color) solid 2px;
  }
}

:host(.bk-active:hover) {
  & .bk-knob {
    outline: var(--active-switch-focus-outline-color) solid 2px;
  }
}

:host(:not(.bk-active, .bk-disabled)) {
  & .bk-knob:focus-visible {
    outline: var(--inactive-switch-focus-outline-color) solid 2px;
  }
}

:host(:not(.bk-active, .bk-disabled):hover) {
  & .bk-knob {
    outline: var(--inactive-switch-focus-outline-color) solid 2px;
  }
}
