.bk-widget-box {
  overflow: visible;
  padding: 5px 10px;
}

.bk-widget label {
  margin-bottom: 2px;
}

.bk-widget {
  margin-top: 10px;
}

.bk-widget h1:first-child,
.bk-widget h2:first-child,
.bk-widget h3:first-child,
.bk-widget h4:first-child,
.bk-widget h5:first-child,
.bk-widget h6:first-child,
.bk-widget p:first-child {
  /* This ensures that the top of the item is at the top of box in common text cases that */
  /* get browser styling */
  margin-top: 0;
}

/* This is the line that gives everything bootstrap styling */
.bk-widget-form-input {
  .bk-bs-form-control;
}


//
//
// Individual widget customizations
//
//

/* misc */
.bk-widget button {
  min-width: 100%;
}
.bk-widget input[type="text"] {
  min-width: 90%;
}
.bk-widget select {
  min-width: 97%;
}

/* dropdown */
.bk-bs-dropdown-toggle .bk-bs-caret {
  margin-left: 5px;
}

.bk-bs-dropdown-menu {
  width: 100%;
}

/* tabs */
.bk-bs-nav-tabs {
  overflow: hidden;
}

.bk-slider {
  label {
    margin-right: 5px;
  }

  .bk-slider-value {
    display: inline-block;
    font-weight: 600;
  }

  input, .bk-slider-value {
    margin-bottom: 5px;
  }
}
