@import "data_table.less";

.bk-widget-box {
  overflow: visible;
  padding: 5px 10px;
}

.bk-widget label {
  margin-bottom: 2px;
}

.bk-widget {
  margin-top: 10px;
}

.bk-widget h1:first-child,
.bk-widget h2:first-child,
.bk-widget h3:first-child,
.bk-widget h4:first-child,
.bk-widget h5:first-child,
.bk-widget h6:first-child,
.bk-widget p:first-child {
  /* This ensures that the top of the item is at the top of box in common text cases that */
  /* get browser styling */
  margin-top: 0;
}

/* This is the line that gives everything bootstrap styling */
.bk-widget-form-input {
  .bk-bs-form-control;
}


//
//
// Individual widget customizations
//
//

/* misc */
.bk-widget button {
  min-width: 100%;
}
.bk-widget input[type="text"] {
  min-width: 90%;
}
.bk-widget select {
  min-width: 97%;
}

/* dropdown */
.bk-bs-dropdown-btn .bk-bs-caret {
  margin-right: 5px;
  margin-bottom: 5px;
  left: 0px;
  color: #A1A6A9;
}

.bk-bs-dropdown-btn.bk-bs-btn-danger .bk-bs-caret,
.bk-bs-dropdown-btn.bk-bs-btn-warning .bk-bs-caret,
.bk-bs-dropdown-btn.bk-bs-btn-primary .bk-bs-caret,
.bk-bs-dropdown-btn.bk-bs-btn-success .bk-bs-caret {
  color: white;
}

.bk-bs-dropdown-menu {
  width: 100%;
}

/* tabs */
.bk-bs-nav-tabs {
  overflow: hidden;
}
.bk-bs-tab-pane {
  float: left;
}

/* slider - start */
.bk-slider-parent input[type="text"] {
  display: inline-block;
  border: 0;
  font-weight: 600;
  margin-left: 4px;
  font-size: 13px;
  vertical-align: text-bottom;
  padding: 0;
  min-width: 20px;
  /* Add in defaults to counteract bokehplots.com css */
  background-color: inherit;
  border-radius: inherit;
  box-shadow: inherit;
  box-sizing: inherit;
  font-family: inherit;
  margin-bottom: inherit;
  transition: inherit;
  width: inherit;
}

.bk-widget .bk-slider-horizontal {
  width: 93%;
  margin-left: 8px;
  height: 10px;
}

.bk-slider-vertical {
  height: 100%;
  width: 16px;
}
/* slider - end */

/* Tweak for slick grid edit widgets */
.ui-spinner-button.ui-spinner-up.ui-corner-tr {
  margin-left: -40px;
}
