name: GitHub-CI

on: [pull_request]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2-beta

      - name: Install Miniconda
        shell: bash
        run: |
          if [[ "${{ runner.os }}" = "Linux" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Linux-x86_64.sh
          elif [[ "${{ runner.os }}" = "macOS" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-MacOSX-x86_64.sh
          elif [[ "${{ runner.os }}" = "Windows" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Windows-x86_64.sh
          fi
          wget -nv "http://repo.continuum.io/miniconda/$MINICONDA_FILENAME"
          bash ${MINICONDA_FILENAME} -b -f -p $HOME/miniconda

      - name: Setup paths
        shell: bash
        run: |
          echo "::add-path::$HOME/miniconda/bin"
          echo "::add-path::$HOME/miniconda/envs/testenv/bin"

      - name: Configure conda
        shell: bash
        env:
          CONDA_REQS: "conda=4.7.12 conda-build=3.18.10 conda-verify=3.4.2 ripgrep=0.10.0 jinja2"
        run: |
          conda config --set auto_update_conda off
          conda config --append channels bokeh
          conda config --get channels
          conda install --yes --quiet $CONDA_REQS

      - name: Install conda packages
        run: |
          BUILD_DEPS=`python scripts/deps.py build`
          conda install --yes --quiet $BUILD_DEPS

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node-${{ hashFiles('bokehjs/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node modules
        run: |
          pushd bokehjs
          npm install -g npm
          npm ci --no-progress
          popd

      - name: Build BokehJS
        run: |
          pushd bokehjs
          node make build
          popd
          tar czf bokehjs-build.tgz "bokehjs/build"

      - name: Upload BokehJS
        uses: actions/upload-artifact@v1
        with:
          name: bokehjs-build
          path: bokehjs-build.tgz

      - name: Build conda package
        run: |
          conda build conda.recipe --quiet --no-test --no-anaconda-upload --no-verify
          pushd $HOME
          tar czf conda-bld-noarch.tgz "miniconda/conda-bld/noarch"
          popd
          mv $HOME/conda-bld-noarch.tgz .

      - name: Upload conda package
        uses: actions/upload-artifact@v1
        with:
          name: conda-bld-noarch
          path: conda-bld-noarch.tgz





  codebase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2-beta

      - name: Install Miniconda
        shell: bash
        run: |
          if [[ "${{ runner.os }}" = "Linux" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Linux-x86_64.sh
          elif [[ "${{ runner.os }}" = "macOS" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-MacOSX-x86_64.sh
          elif [[ "${{ runner.os }}" = "Windows" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Windows-x86_64.sh
          fi
          wget -nv "http://repo.continuum.io/miniconda/$MINICONDA_FILENAME"
          bash ${MINICONDA_FILENAME} -b -f -p $HOME/miniconda

      - name: Setup paths
        shell: bash
        run: |
          echo "::add-path::$HOME/miniconda/bin"
          echo "::add-path::$HOME/miniconda/envs/testenv/bin"

      - name: Configure conda
        shell: bash
        env:
          CONDA_REQS: "conda=4.7.12 conda-build=3.18.10 conda-verify=3.4.2 ripgrep=0.10.0 jinja2"
        run: |
          conda config --set auto_update_conda off
          conda config --append channels bokeh
          conda config --get channels
          conda install --yes --quiet $CONDA_REQS

      - name: Install conda packages
        shell: bash
        run: |
          conda create -n testenv --yes --quiet python=${{ matrix.python-version }} jinja2 pyyaml
          conda install -n testenv --yes --quiet --use-local bokeh `python scripts/deps.py run test`

      # XXX: until channels is available on conda-forge
      - name: Install pip packages
        shell: bash
        run: |
          pip install channels

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node-${{ hashFiles('bokehjs/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node modules
        run: |
          pushd bokehjs
          npm install -g npm
          npm ci --no-progress
          popd

      - name: Install sampledata
        shell: bash
        run: |
          python -c 'import bokeh; bokeh.sampledata.download(progress=False)'

      - name: Run codebase checks
        shell: bash
        run: |
          pushd bokehjs
          node make scripts:compile --emit-error
          node make test:compile --emit-error
          PARSER_NO_WATCH=true node make lint --emit-error
          popd

          py.test -m codebase --color=yes tests

      - name: MyPy
        shell: bash
        run: |
          mypy bokeh





  js-test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2-beta

      - name: Install Miniconda
        shell: bash
        run: |
          if [[ "${{ runner.os }}" = "Linux" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Linux-x86_64.sh
          elif [[ "${{ runner.os }}" = "macOS" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-MacOSX-x86_64.sh
          elif [[ "${{ runner.os }}" = "Windows" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Windows-x86_64.sh
          fi
          wget -nv "http://repo.continuum.io/miniconda/$MINICONDA_FILENAME"
          bash ${MINICONDA_FILENAME} -b -f -p $HOME/miniconda

      - name: Setup paths
        shell: bash
        run: |
          echo "::add-path::$HOME/miniconda/bin"
          echo "::add-path::$HOME/miniconda/envs/testenv/bin"

      - name: Configure conda
        shell: bash
        env:
          CONDA_REQS: "conda=4.7.12 conda-build=3.18.10 conda-verify=3.4.2 ripgrep=0.10.0 jinja2"
        run: |
          conda config --set auto_update_conda off
          conda config --append channels bokeh
          conda config --get channels
          conda install --yes --quiet $CONDA_REQS

      - name: Download Bokehjs
        uses: actions/download-artifact@v1
        with:
          name: bokehjs-build

      - name: Download conda package
        uses: actions/download-artifact@v1
        with:
          name: conda-bld-noarch

      - name: Unpack artifacts
        shell: bash
        run: |
          mv conda-bld-noarch/conda-bld-noarch.tgz $HOME
          pushd $HOME
          tar xzf conda-bld-noarch.tgz
          popd
          tar xvzf bokehjs-build/bokehjs-build.tgz

      - name: Install conda packages
        shell: bash
        run: |
          conda create -n testenv --yes --quiet python=${{ matrix.python-version }} jinja2 pyyaml
          conda install -n testenv --yes --quiet --use-local bokeh `python scripts/deps.py run test`

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node-${{ hashFiles('bokehjs/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node modules
        run: |
          pushd bokehjs
          npm install -g npm
          npm ci --no-progress
          popd
          python setup.py --install-js

      - name: Install chrome
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install software-properties-common
          sudo add-apt-repository ppa:canonical-chromium-builds/stage
          sudo apt-get update
          sudo apt-get install chromium-browser

      - name: Start chrome headless
        shell: bash
        run: |
          chromium-browser --headless --no-sandbox --remote-debugging-port=9222 &

      - name: Run tests
        shell: bash
        run: |
          py.test -s -m js --color=yes tests




  integration-tests:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2-beta

      - name: Install Miniconda
        shell: bash
        run: |
          if [[ "${{ runner.os }}" = "Linux" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Linux-x86_64.sh
          elif [[ "${{ runner.os }}" = "macOS" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-MacOSX-x86_64.sh
          elif [[ "${{ runner.os }}" = "Windows" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Windows-x86_64.sh
          fi
          wget -nv "http://repo.continuum.io/miniconda/$MINICONDA_FILENAME"
          bash ${MINICONDA_FILENAME} -b -f -p $HOME/miniconda

      - name: Setup paths
        shell: bash
        run: |
          echo "::add-path::$HOME/miniconda/bin"
          echo "::add-path::$HOME/miniconda/envs/testenv/bin"

      - name: Configure conda
        shell: bash
        env:
          CONDA_REQS: "conda=4.7.12 conda-build=3.18.10 conda-verify=3.4.2 ripgrep=0.10.0 jinja2"
        run: |
          conda config --set auto_update_conda off
          conda config --append channels bokeh
          conda config --get channels
          conda install --yes --quiet $CONDA_REQS

      - name: Download Bokehjs
        uses: actions/download-artifact@v1
        with:
          name: bokehjs-build

      - name: Download conda package
        uses: actions/download-artifact@v1
        with:
          name: conda-bld-noarch

      - name: Unpack artifacts
        shell: bash
        run: |
          mv conda-bld-noarch/conda-bld-noarch.tgz $HOME
          pushd $HOME
          tar xzf conda-bld-noarch.tgz
          popd
          tar xvzf bokehjs-build/bokehjs-build.tgz

      - name: Install conda packages
        shell: bash
        run: |
          conda create -n testenv --yes --quiet python=${{ matrix.python-version }} jinja2 pyyaml
          conda install -n testenv --yes --quiet --use-local bokeh `python scripts/deps.py run test`

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node-${{ hashFiles('bokehjs/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node modules
        run: |
          pushd bokehjs
          npm install -g npm
          npm ci --no-progress
          popd
          python setup.py --install-js

      - name: Install chromedriver
        shell: bash
        run: |
          sudo apt-get -y update
          sudo apt-get -y install unzip xvfb libxi6 libgconf-2-4
          sudo apt-get -y install google-chrome-stable
          wget https://chromedriver.storage.googleapis.com/2.42/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv chromedriver /usr/bin/chromedriver
          sudo chown root:root /usr/bin/chromedriver
          sudo chmod +x /usr/bin/chromedriver

      - name: Run tests
        shell: bash
        run: |
          py.test -v --tb=short -m integration --driver chrome --color=yes tests




  unit-test:
    needs: build
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 6
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.6, 3.7]

    steps:
      - uses: actions/checkout@v2-beta

      - name: Install Miniconda
        shell: bash
        run: |
          if [[ "${{ runner.os }}" = "Linux" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Linux-x86_64.sh
          elif [[ "${{ runner.os }}" = "macOS" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-MacOSX-x86_64.sh
          elif [[ "${{ runner.os }}" = "Windows" ]]; then
            MINICONDA_FILENAME=Miniconda3-latest-Windows-x86_64.sh
          fi
          wget -nv "http://repo.continuum.io/miniconda/$MINICONDA_FILENAME"
          bash ${MINICONDA_FILENAME} -b -f -p $HOME/miniconda

      - name: Setup paths
        shell: bash
        run: |
          echo "::add-path::$HOME/miniconda/bin"
          echo "::add-path::$HOME/miniconda/envs/testenv/bin"

      - name: Configure conda
        shell: bash
        env:
          CONDA_REQS: "conda=4.7.12 conda-build=3.18.10 conda-verify=3.4.2 ripgrep=0.10.0 jinja2"
        run: |
          conda config --set auto_update_conda off
          conda config --append channels bokeh
          conda config --get channels
          conda install --yes --quiet $CONDA_REQS

      - name: Download Bokehjs
        uses: actions/download-artifact@v1
        with:
          name: bokehjs-build

      - name: Download conda package
        uses: actions/download-artifact@v1
        with:
          name: conda-bld-noarch

      - name: Unpack artifacts
        shell: bash
        run: |
          mv conda-bld-noarch/conda-bld-noarch.tgz $HOME
          pushd $HOME
          tar xzf conda-bld-noarch.tgz
          popd
          tar xvzf bokehjs-build/bokehjs-build.tgz

      - name: Install conda packages
        shell: bash
        run: |
          conda create -n testenv --yes --quiet python=${{ matrix.python-version }} jinja2 pyyaml
          conda install -n testenv --yes --quiet --use-local bokeh `python scripts/deps.py run test`

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node-${{ hashFiles('bokehjs/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install node modules
        run: |
          pushd bokehjs
          npm install -g npm
          npm install -g phantomjs-prebuilt
          npm ci --no-progress
          popd
          python setup.py --install-js

      - name: Install sampledata
        shell: bash
        run: |
          python -c 'import bokeh; bokeh.sampledata.download(progress=False)'

      - name: Run tests
        shell: bash
        run: |
          pushd tests
          py.test -m unit --cov=bokeh --cov-config=.coveragerc --color=yes
          popd
