name: Docker image - Build

on:
  workflow_dispatch:
    inputs:
      run_tests:
        description: 'Run tests (0 or 1)'
        required: true
        default: '0'

jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - name: Set date environment variable
        run: |
          echo "iso_date=$(date -u --iso-8601)" >> $GITHUB_ENV

      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build image
        uses: docker/build-push-action@v2
        with:
          context: ci/docker
          load: true
          tags: |
            bokeh-dev:latest
            bokeh-dev:${{ env.iso_date }}

      - name: Save image to file
        run: |
          docker save -o bokeh-dev.tar bokeh-dev

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: bokeh-dev.tar

      - name: Checkout source
        if: ${{ github.event.inputs.run_tests }}
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run tests
        if: ${{ github.event.inputs.run_tests }}
        run: |
          docker run -v $GITHUB_WORKSPACE:/bokeh --rm -e BOKEH_DOCKER_BUILD=1 bokeh-dev:latest
