name: GitHub-CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: [10, 12]
        python_version: [3.7]
        os: [macos-latest]

    steps:
      - uses: actions/checkout@master

      - name: Set Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@master
        with:
          node-version: ${{ matrix.node_version }}

      - name: Setup python ${{ matrix.python_version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install conda stuff
        run: |
          bash scripts/ci/azure/install_conda.sh

      - name: Install npm dependencies
        run: |
          npm install -g npm
          cd bokehjs
          npm ci --no-progress

      - name: Install bokeh-python package
        run: |
          bash scripts/ci/azure/install_bokeh.sh

      - name: Setup tests
        run: |
          bash scripts/ci/github/setup_tests.sh

      - name: Run tests
        run: |
          bash scripts/ci/github/run_tests.sh
