name: BokehJS-CI

on:
  push:
    branches:
      - main
      - branch-*
    paths:
      - 'bokehjs/**'
  pull_request:
    paths:
      - 'bokehjs/**'

jobs:

  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]
        node-version: [16.x]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Install node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Upgrade npm
        shell: bash
        run: |
          npm install -g npm@8

      - name: Install chromium
        if: runner.os == 'Linux'
        shell: bash
        run: |
          VER=95.0.4638.69
          REV=chromium_1810
          URL=https://github.com/bokeh/chromium/raw/main/linux/$VER
          wget --no-verbose $URL/$REV.assert
          wget --no-verbose $URL/$REV.snap
          sudo snap ack $REV.assert
          sudo snap install $REV.snap

      - name: Install dependencies
        working-directory: ./bokehjs
        shell: bash
        run: |
          npm ci --no-progress

      - name: Build bokehjs
        working-directory: ./bokehjs
        shell: bash
        run: |
          node make lib:build

      - name: Build examples
        working-directory: ./bokehjs
        shell: bash
        run: |
          node make examples:build

      - name: Run tests
        working-directory: ./bokehjs
        shell: bash
        run: |
          node make test:lib

      - name: Lint codebase
        working-directory: ./bokehjs
        shell: bash
        run: |
          node make lint

      - name: Check repository status
        shell: bash
        run: |
          OUTPUT=$(git status --short bokehjs -- ':!bokehjs/test/baselines')
          if [[ ! -z "$OUTPUT" ]]; then echo $OUTPUT; exit 1; fi

      - name: Collect results
        if: runner.os == 'Linux' && always()
        shell: bash
        run: |
          SRC="bokehjs/test/baselines/linux"
          DST="bokehjs-report/${SRC}"
          mkdir -p ${DST}
          if [[ -e ${SRC}/report.json ]];
          then
            CHANGED=$(git status --short ${SRC}/\*.blf ${SRC}/\*.png | cut -c4-)
            cp ${SRC}/report.json ${CHANGED} ${DST}
          fi

      - name: Upload report
        if: runner.os == 'Linux' && always()
        uses: actions/upload-artifact@v1
        with:
          name: bokehjs-report
          path: bokehjs-report
