name: Docker image - Build

on:
  workflow_dispatch:

jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build image
        uses: docker/build-push-action@v2
        with:
          context: ci/docker
          load: true
          tags: bokeh-dev:latest

      - name: Save image to file
        run: |
          docker save -o bokeh-dev.tar bokeh-dev

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: bokeh-dev.tar
